<template>
  <transition name="modal">
    <div class="modal mask" id="modalBill">

      <div class="modal-dialog" role="document">
        <div class="modal-content" v-if="bill && loading == false">

          <div class="modal-header">
            <button type="button" class="close pull-right" v-on:click="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title pull-left" id="myModalLabel" v-if="bill.table">
              {{ bill.table.name }} <span v-if="bill.table.alias != null && bill.table.alias != ''">- "{{ bill.table.alias }}"</span>
            </h4>
          </div>

          <div class="modal-body">

            <div class="row" v-if="bill.user">

              <div class="col-xs-4 col-md-4">
                <div class="bill-user">
                  <img width="100" height="100" v-bind:src="bill.user.photo"/>
                </div>
              </div>

              <div class="col-xs-4 col-md-8">
                <div class="info">
                  <span>{{ bill.user.name }}</span>
                  <span v-if="bill.waiter">Responsável: {{ bill.waiter.name }}</span>
                  <span>Consumo: {{ formatCurrency(bill.total) }}</span>
                  <h5 class="sync-success" v-if="bill.has_sync == 1">Conta sincronizada com integração.</h5>
                  <h5 class="sync-error" v-else>Conta NÃO sincronizada com integração. <p>{{ hasDenyOrders ? ' - Alguns pedidos encontram-se negados pela integração. Por favor, verifique abaixo.' : bill.external_info }}</p></h5>

                  <h5 class="sync-success" v-if="bill.has_paid && bill.status == 'closing'">
                    Pagamento JÁ efetuado no webapp. 
                    <br>Código de transação: <b>{{bill.transaction_code}}</b>
                    <br>Bandeira: <b>{{ bill.card_flag }}</b>
                  </h5>

                  <p class="hidden-xs">
                    Nacionalidade: {{ bill.user.country }}<br/>
                    Horário de Entrada: {{ bill.opened_at }}<br/>
                    Duração: {{ bill.duration }}
                  </p>
                </div>
              </div>

            </div>

            <div class="row" v-if="bill.temp_user == 1">
              <div class="col-xs-12">
                <div class="info">
                  <span>
                    Nome do Cliente: {{ bill.raw_user.username }}
                  </span>
                  <span v-if="bill.waiter">Responsável: {{ bill.waiter.name }}</span>
                  <span>Consumo: {{ formatCurrency(bill.total) }}</span>
                  <h5 class="sync-success" v-if="bill.has_sync == 1">Conta sincronizada com integração.</h5>
                  <h5 class="sync-error" v-else>Conta NÃO sincronizada com integração. <p>{{ hasDenyOrders ? ' - Alguns pedidos encontram-se negados pela integração. Por favor, verifique abaixo.' : bill.external_info }}</p></h5>
                </div>
              </div>
            </div>

            <div v-if="bill.temp_user == 1" class="row">
              <form method="post" action="">

                <!-- <div class="col-md-12" v-if="bill.enable_advanced_functions == 1">
                  <div class="form-group">
                    <a data-toggle="collapse" role="button" class="btn btn-primary" href="#collapseBill"
                    aria-expanded="false" aria-controls="collapseBill"><i class="fa fa-exchange"></i> Transferir Conta</a>
                  </div>

                  <div class="collapse" id="collapseBill">
                    <div class="form-group">
                      <label for="selectBill">Selecione a Conta:</label>
                      <select v-model="destinyBill" name="bill_id" class="form-control selectpicker" data-live-search="true" id="selectBill" title="Selecione.." data-size="10">
                        <option v-for="b in billsList" :value="b.id">
                          {{ b.table.name }}
                        </option>
                      </select>
                    </div>
                    <button class="btn pull-right btn-success" v-on:click.stop.prevent="migrateBill()">Transferir</button>
                  </div>
                </div> -->

              </form>
            </div>

            <div class="row hidden-xs">
              <form method="post" action="">

                <div class="col-md-12">
                  <div class="form-group">
                    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseProd"
                    aria-expanded="false" aria-controls="collapseProd">
                    <i class="fa fa-plus"></i> Adicionar Pedido
                  </a>
                </div>

                <div class="collapse" id="collapseProd">

                  <div class="form-group">
                    <label for="selectProdOrder">Selecione o Produto:</label>
                    <select v-model="productToOrder" required name="product_id"
                    class="form-control selectpicker"
                    data-live-search="true" id="selectProdOrder" title="Selecione.."
                    data-size="10">
                    <option v-for="p in products" :value="p.id">
                      {{ p.code != '' ? p.code : p.id}} - {{ p.name }}
                    </option>
                  </select>
                </div>

                <div class="form-group col-md-12" v-if="productToOrderOptions">
                  <div class="col-xs-12 options" v-for="g in productToOrderGroups" :key="g.id">
                    <h4>{{ g.name }}:</h4>
                    <span v-if="g.min >= 1">(Obrigatório)</span><span v-if="g.max > 1">(Até {{g.max}} opções)</span>
                    <div class="form-group" v-for="i in g.items" :key="i.id">
                        <div v-if="productToOrderOptions[g.id] && productToOrderOptions[g.id][i.id]">

                            <div v-if="g.min == 0 && g.max == 1">
                                <div class="checkbox" v-if="g.items.length == 1">
                                    <label :for="'opt-' + i.id" @click.stop.prevent="sumOptionCheck(g, i)">
                                        <input type="checkbox" :id="'opt-' + i.id" v-model="productToOrderOptions[g.id][i.id].quant"/>
                                        <span>{{ i.name }}</span>
                                    </label>
                                </div>
                                <div class="radio" v-else>
                                    <label :for="'opt-' + i.id" @click.stop.prevent="sumOptionRadio(g, i)">
                                        <input type="radio" :id="'opt-' + i.id" :checked="productToOrderOptions[g.id][i.id].quant == 1"/>
                                        <span>{{ i.name }}</span>
                                    </label>
                                </div>
                            </div>

                            <div v-if="g.min == 1 && g.max == 1">
                                <div class="radio">
                                    <label :for="'opt-' + i.id" @click.stop.prevent="sumOptionRadio(g, i)">
                                        <input type="radio" :id="'opt-' + i.id" :checked="productToOrderOptions[g.id][i.id].quant == 1"/>
                                        <span>{{ i.name }}</span>
                                    </label>
                                </div>
                            </div>

                            <div v-if="g.max > 1">
                                <div class="option-quant">
                                    <label>{{ i.name }}</label>
                                    <button class="btn btn-primary col-xs-1" @click.stop.prevent="sumOptionQtd(g, i, -1)">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <input readonly class="col-xs-9" type="number" v-model="productToOrderOptions[g.id][i.id].quant" value="1" />
                                    <button class="btn btn-primary col-xs-1" @click.stop.prevent="sumOptionQtd(g, i, 1)">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label>Quantidade</label>
                  <input class="form-control" type="number" v-model="productQuantToOrder"/>
                </div>

                <div v-if="productToOrderHasWeight">
                  <div class="col-md-6 order-weight">
                    <div class="form-group">
                      <label>Peso (Kg)</label>
                      <input v-model="orderWeight" id="orderWeight" placeholder="Informe o peso" type="number" step=".01" class="form-control mask-weight" name="order_weight"/>
                    </div>
                  </div>
                </div>

                <div class="product-obs-to-order">
                  <div class="form-group col-md-6">
                    <label>Observações</label>
                    <textarea class="form-control" v-model="orderObs" id="orderObs"name="product_obs_to_order"></textarea>
                  </div>
                </div>

                <button class="btn pull-right btn-success" @click.stop.prevent="addOrderToBill()">Adicionar</button>
              </div>
            </div>
          </form>

        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="bill-orders panel panel-default">
              <div class="panel-heading hidden-xs">Pedidos</div>
              <div class="panel-body">
                <ul class="list-group" v-if="orders && orders.length > 0">
                  <li class="list-group-item" v-for="o in orders" v-if="o.status != 'trash'">
                    <div class="order-info-resume">
                      <span v-if="o.is_weight_price == 1">
                        <b v-if="o.status == 'deny'">[NEGADO]</b>
                        <b>#{{ o.id }}: </b>
                        <b v-if="o.product.code != ''">{{ o.product.code }} -</b>
                        <b v-else>{{ o.product.id }} -</b>
                        <b>{{ o.product.name }} - (peso: {{ o.order_weight }} Kg)</b>
                        - {{ formatCurrency(o.cache_price) }}
                      </span>
                      <span v-else>
                        <b v-if="o.status == 'deny'">[NEGADO]</b>
                        <b>#{{ o.id }}: </b>
                        <b v-if="o.product.code != ''">{{ o.product.code }} -</b>
                        <b v-else>{{ o.product.id }} -</b>
                        <b>{{ o.product.name }}</b>- {{ formatCurrency(o.cache_price) }}
                      </span>
                    </div>
                    <div class="order-info-complete" v-if="showCollapsedInfo[o.id] == true">
                      <b>Data do Pedido: {{ o.created_at }}</b><br />
                      <b>Quantidade: {{ o.quant }}</b><br />
                      <b v-if="o.is_weight_price">Peso: {{ o.order_weight }} Kg</b><br />
                      <b v-if="o.by_waiter">- Pedido feito pelo garçom {{ o.waiter.name }} -</b>
                      <b v-if="o.by_admin">- Pedido feito pelo administrador -</b>
                      <b v-if="o.by_waiter == false && o.by_admin == false">- Pedido feito pelo cliente - {{ o.user.name }}</b>
                      <b v-if="o.status == 'deny'">- Pedido negado pela integração - {{ o.external_info }}</b>
                      <br />
                      <b v-if="o.observation">Observação: {{ o.observation }}</b>
                      <div v-if="o.product.groups">
                        <ul v-for="group in o.product.groups">
                          <li class="group-name">
                            {{group.name}}
                          </li>
                          <li v-for="i in group.items">
                            {{ i.item.name }}<i v-if="i.quant > 1"> - ({{ i.quant }})</i>
                          </li>
                        </ul>
                      </div>

                      <!-- <div class="alter-weight" v-if="o.product.weight > 0">
                        <form method="post">
                          <div class="col-md-6">
                            <div class="form-group">
                              <div class="checkbox">
                                <label>
                                  <input v-model="productsIsWeight[o.id]"
                                  value="true"
                                  v-bind:checked="o.is_weight_price == 1"
                                  type="checkbox"/> Calcular Valor por Peso ?
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Peso (g)</label>
                              <input v-model="productsWeightToOrder[o.id]"
                              placeholder="Informe o peso do pedido"
                              class="form-control mask-weight"
                              name="order_weight"/>
                            </div>
                            <div class="form-group">
                              <button class="btn pull-right submit btn-success"
                              v-on:click.stop.prevent="addWeightToPriceOrder(o.id)">
                              Salvar
                            </button>
                          </div>
                        </div>
                      </form>
                    </div> -->
                  </div>
                  <button v-if="bill.enable_advanced_functions == 1 && o.status != 'deny'" rel="tooltip" data-toggle="tooltip" data-placement="top"
                  title="Cancelar Pedido"
                  type="submit" v-on:click.stop.prevent="cancelOrder(o.id)"
                  class="btn btn-danger cancel hidden-xs">
                  <i class="fa fa-close"></i>
                </button>
                <a rel="tooltip" class="btn btn-success open-info hidden-xs" v-on:click.stop.prevent="showInfo(o.id)">
                  <i v-if="showCollapsedInfo[o.id] == false" class="fa fa-info"></i>
                  <i v-if="showCollapsedInfo[o.id] == true" class="fa fa-chevron-up"></i>
                </a>
              </li>
              <li class="list-group-item" v-if="bill.has_baksheesh > 0">
                <span><b>Acréscimo de {{bill.baksheesh_percentage}}% </b> - {{ formatCurrency(bill.baksheesh) }}</span>
              </li>
            </ul>
            <h4 class="text-center" v-if="orders && orders.length == 0">Nenhum pedido registrado.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pull-right btn-danger" @click="closeModal()">Fechar</button>
    <button v-on:click="closeBill()" type="button" class="btn pull-left btn-warning" data-dismiss="modal">Encerrar Conta</button>
    <button v-if="bill.status == 'closed' || bill.status == 'closing'" class="btn pull-left btn-success" @click="changeStatus('opened')">Reabrir Conta</button>
    <button v-if="bill.enable_advanced_functions == 1 && bill.status == 'opened'" class="btn pull-left btn-danger" @click="changeStatus('disabled')">Bloquear Conta</button>
    <button v-if="bill.enable_advanced_functions == 1 && bill.status == 'disabled'" class="btn pull-left btn-success" @click="changeStatus('opened')">Desbloquear Conta</button>
  </div>
</div>
<div class="modal-content" v-else>
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Aguarde um momento, carregando e sincronizando...</h4>
  </div>
  <div class="modal-body">
    <div class="loading-modal">
      <i class="fa fa-spinner fa-spin fa-2x"></i>
    </div>
  </div>
</div>
</div>

</div>
</transition>
</template>

<script lang="js">

var functions = require('../../functions');
var socketConnection = require('../../socket/socket_connection.js');
var socket = socketConnection.socket;

export default{
  props: ['billId'],
  data: function() {
    return {
      products: [],
      bill_id: this.billId,
      bill: null,
      orders: null,
      productToOrder: null,
      productToOrderHasWeight: false,
      productToOrderOptions: null,
      productToOrderGroups: null,
      productsIsWeight: [],
      orderWeight: null,
      orderObs: null,
      productsWeightToOrder: [],
      productQuantToOrder: 1,
      showCollapsedInfo: [],
      billsList: [],
      destinyBill: null,
      loading: false,
      hasDenyOrders: false,
    }
  },
  mounted: function() {
    this.loading = true;
    this.loadProducts();
    var location = document.querySelector('#location').getAttribute('value');

    socket.on('private-bill-closing.' + location + ':App\\Events\\BillClosing', function (bill) {
    }.bind(this));
    socket.on('private-bill-closing.' + location + ':App\\Events\\BillClosed', function (bill) {
      this.closeModal()
    }.bind(this));
  },
  methods: {
    loadProducts: function(){
      this.$http.get('home/products').then(function (response) {
        var data = response.data;
        this.products = data;
        this.loadBill(this.bill_id);
        this.loadBills();
      });
    },
    loadBills: function(){
      this.$http.get('home/bills/opened').then(function (response) {
        var data = response.data
        var billId = this.bill_id
        this.billsList = data.filter(function(e){
          return e.id != billId
        });
      });
    },
    loadBill: function(bill_id){
      if(this.bill == null){
        this.bill = false;
      }
      if(bill_id){
        this.$http.get('home/bill/' + bill_id).then(function (response) {
          var data = response.data;
          this.bill = data;
          if(this.bill && this.bill.orders){
            var orders = this.bill.orders.filter(function(el, i, array) {
              return array[i].status !== "trash";
            });
            var denyOrders = this.bill.denyOrders.filter(function(el, i, array) {
              return array[i].status !== "trash";
            });
            if(denyOrders.length > 0){
              this.hasDenyOrders = true;
            }
            this.orders = orders.concat(denyOrders);
          }
          this.populateCollapsedInfo();
          this.loading = false;
        });
      }
    },
    addOrderToBill: function () {
      if(this.validateGroupMin()){
        this.loading = true;
        if (this.productToOrder == '' || this.productToOrder == null) {
          functions.showErrorToast("Deve selecionar um produto!");
          this.loading = false;
        } else {
          this.$http.post('home/bill/add-order/' + this.billId + '/' + this.productToOrder, {
            quant: this.productQuantToOrder,
            observation: this.orderObs,
            options: this.getPopulatedSelectedOptions(),
            weight: this.orderWeight
          }).then(function (response) {
            var data = response.data;
            if (data.success == true) {
              functions.showSuccessToast(data.message);
              this.loadBill(this.billId);
            } else {
              functions.showErrorToast(data.message);
              this.loading = false;
            }
          });
          this.productToOrder = null;
          this.orderWeight = null;
          this.productQuantToOrder = 1;
          this.productToOrderOptions = null;
          this.productToOrderGroups = null;
          this.orderObs = '';
        }
      }
    },
    validateGroupMin()
    {
      if(this.productToOrderOptions){
        for(var g in this.productToOrderOptions){
            var maxTotal = 0;
            var group = this.productToOrderGroups.filter((gid) => {
                return gid.id == g
            });
            for(var i in this.productToOrderOptions[g]){
                maxTotal = maxTotal + this.productToOrderOptions[g][i].quant;
            }
            if(maxTotal < group[0].min){
                functions.showErrorToast('Deve selecionar pelo menos ' + group[0].min + ' em ' + group[0].name + '.');
                return false;
            }
        }
      }
      return true;
    },
    addWeightToPriceOrder: function (order_id) {
      this.loading = true;
      var isWeight = this.productsIsWeight[order_id],
      weight = this.productsWeightToOrder[order_id];
      if (isWeight == undefined) {
        isWeight = false;
      }
      this.$http.post('home/order/add-weight/' + order_id, {
        is_weight: isWeight,
        weight: weight
      }).then(function (response) {
        var data = response.data;
        if (data.success == true) {
          functions.showSuccessToast(data.message);
          this.loadBill(this.bill_id);
        } else {
          functions.showErrorToast(data.message);
        }
      });
    },
    populateCollapsedInfo: function(){
      if(this.orders){
        for(var i = 0; i < this.orders.length; i++){
          this.$set(this.showCollapsedInfo, this.orders[i].id, false);
        }
      }
    },
    showInfo: function(order_id){
      if(this.showCollapsedInfo[order_id] == false){
        this.$set(this.showCollapsedInfo, order_id, true);
      }else{
        this.$set(this.showCollapsedInfo, order_id, false);
      }
    },
    closeOrder: function (order_id) {
      this.$http.post('home/order/close/' + order_id).then(function (response) {
        var data = response.data;
        if (data.error == true) {
          functions.showErrorToast(data.message);
        } else {
          functions.showSuccessToast(data.message);
        }
      });
    },
    cancelOrder: function (order_id) {
      this.loading = true;
      var r = confirm("Deseja cancelar esse pedido?");
      if (r == true) {
        this.$http.post('home/order/cancel/' + order_id).then(function (response) {
          var data = response.data;
          if (data.success == true) {
            functions.showSuccessToast(data.message);
            this.loadBill(this.bill_id);
          } else {
            functions.showErrorToast(data.message);
          }
        });
      }
    },
    changeStatus: function(status){
      var action = "reabrir";
      if(status == 'disabled'){
        action = "bloquear";
      }
      var r = confirm("Tem certeza de que deseja " + action + " essa conta?");
      if (r == true) {
        this.loading = true;
        this.$http.post('bills/' + this.bill_id + '/update', {
          status: status
        }).then(function(response){
          if(response.data.success == true){
            functions.showSuccessToast(response.data.message);
            this.loadBill(this.bill_id);
          }else{
            functions.showErrorToast(response.data.message);
            this.loading = false;
          }
        });
      }
    },
    migrateBill: function(){
      var r = confirm("Deseja transferir os pedidos dessa conta e encerrá-la? Esta ação não poderá ser desfeita.");
      if (r == true) {
        this.loading = true;
        this.$http.post('home/bill/migrate', {
          origin_bill: this.bill_id,
          destiny_bill: this.destinyBill
        }).then(function (response) {
          var data = response.data;
          if (data.success == true) {
            functions.showSuccessToast(data.message);
          } else {
            functions.showErrorToast(data.message);
          }
          this.loading = false;
          this.closeModal();
        });
      }
    },
    closeBill: function () {
      var r = confirm("Deseja realmente encerrar essa conta?");
      if (r == true) {
        this.loading = true;
        this.$http.post('home/bill/close/' + this.bill_id).then(function (response) {
          var data = response.data;
          if (data.error == true) {
            functions.showErrorToast(data.message);
          } else {
            functions.showSuccessToast(data.message);
            this.closeModal();
          }
          this.loading = false;
        });
      }
    },
    closeModal: function() {
      this.$emit('close')
    },
    populateSelectedOptions(productToOrderGroups)
    {
        var options = {}
        var checked = {}
        for (var g in productToOrderGroups) {
            var groupId = productToOrderGroups[g].id;
            options[groupId] = {}
            checked[groupId] = false;
            for (var i in productToOrderGroups[g].items) {
                var itemId = productToOrderGroups[g].items[i].id;
                var price = productToOrderGroups[g].items[i].price;
                var name = productToOrderGroups[g].items[i].name;
                var quantMin = productToOrderGroups[g].min;

                if(productToOrderGroups[g].min == 0 && productToOrderGroups[g].max == 1){
                    if(productToOrderGroups[g].items.length > 1){
                        //Radio
                        if(checked[groupId]){
                            quantMin = 0;
                        }else{
                            quantMin = 1;
                            checked[groupId] = true;
                        }
                        options[groupId][itemId] = {
                            quant: quantMin,
                            price: price,
                            name: name
                        };
                    }else{
                        options[groupId][itemId] = {
                            quant: quantMin,
                            price: price,
                            name: name
                        };
                    }
                }
                if(productToOrderGroups[g].min == 1 && productToOrderGroups[g].max == 1){
                    //Radio
                    if(checked[groupId]){
                        quantMin = 0;
                    }else{
                        quantMin = 1;
                        checked[groupId] = true;
                    }
                    options[groupId][itemId] = {
                        quant: quantMin,
                        price: price,
                        name: name
                    };
                }
                if(productToOrderGroups[g].max > 1){
                    options[groupId][itemId] = {
                        quant: 0,
                        price: price,
                        name: name
                    };
                }

            }
        }
        this.productToOrderOptions = options;
    },
    getPopulatedSelectedOptions()
    {
      var options = {};
      for (var g in this.productToOrderOptions) {
          if(!options[g]){
            var group = this.productToOrderGroups.filter(gr => {
                return gr.id == g;
            });
            options[g] = {
                'name': group[0].name,
                'formula': group[0].formula,
                'min': group[0].min,
                'max': group[0].max,
                'items': []
            };
          }

          for (var i in this.productToOrderOptions[g]) {

            var quant = this.productToOrderOptions[g][i].quant;
            var price = this.productToOrderOptions[g][i].price;
            var name = this.productToOrderOptions[g][i].name

            options[g]['items'].push({
                item_id: i,
                quant: quant,
                price: price,
                name: name
            });
          }
      }
      return options;
    },
    sumOptionQtd(group, item, val)
    {
      var total = this.productToOrderOptions[group.id][item.id].quant + val;
      var maxTotal = val;
      for(var i in this.productToOrderOptions[group.id]){
          maxTotal = maxTotal + this.productToOrderOptions[group.id][i].quant;
      }
      if(maxTotal <= group.max){
        if (total >= 0 && total <= group.max) {
            this.$set(this.productToOrderOptions[group.id], item.id, {
                quant: total,
                price: this.productToOrderOptions[group.id][item.id].price,
                name: this.productToOrderOptions[group.id][item.id].name
            });
        }
      }
    },
    sumOptionCheck(group, item)
    {
        if (this.productToOrderOptions[group.id][item.id].quant === 1) {
            this.$set(this.productToOrderOptions[group.id], item.id, {
                quant: 0,
                price: this.productToOrderOptions[group.id][item.id].price,
                name: this.productToOrderOptions[group.id][item.id].name
            });
        } else {
            this.$set(this.productToOrderOptions[group.id], item.id, {
                quant: 1,
                price: this.productToOrderOptions[group.id][item.id].price,
                name: this.productToOrderOptions[group.id][item.id].name,
            });
        }
    },
    sumOptionRadio(group, item)
    {
        if (this.productToOrderOptions[group.id][item.id].quant === 0) {
            for(var i in this.productToOrderOptions[group.id]){
                if(i != item.id){
                    var price = this.productToOrderOptions[group.id][i].price;
                    var name = this.productToOrderOptions[group.id][i].name;
                    this.$set(this.productToOrderOptions[group.id], i, {
                        quant: 0,
                        price: price,
                        name: name,
                    });
                }
            }
            var priceAdd = this.productToOrderOptions[group.id][item.id].price;
            var nameAdd = this.productToOrderOptions[group.id][item.id].name;
            this.$set(this.productToOrderOptions[group.id], item.id, {
                quant: 1,
                price: priceAdd,
                name: nameAdd,
            });
        }
    },
    formatCurrency: functions.formatCurrency
  },
  watch: {
    productToOrder: function(id) {
      if(id){
        var product = this.products.filter(function(obj){
          return obj.id === id;
        });
        this.productToOrderGroups = product[0].groups;
        this.populateSelectedOptions(product[0].groups);
        if(product[0].weight > 0){
          this.productToOrderHasWeight = true;
        }else{
          this.productToOrderHasWeight = false;
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
// -- Modal Bill -- //
#modalBill {
  display: block;

  &.mask{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .loading-modal {
    width: 100%;
    text-align: center;
  }

  .modal-body{
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }

  .info {
    width: 100%;
    float: left;

    span {
      display: block;
      font-weight: bold;
      font-size: 1.3em;
    }
    p {
      display: block;
      font-size: 1.1em;
    }

    .sync-success{
      color: green;
    }
    .sync-error{
      color: red;
    }
  }

  .bill-user {
    img {
      margin: 0px auto;
      display: block;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
  }

  .options {
    padding-top: 1em;
    padding-bottom: 1em;
    h4 {
        b {
            font-size: 0.7em;
        }
    }
    label {
        font-weight: normal;
        font-size: 1.2em;
    }
    span{
        margin-left: 5px;
        display: inline;
    }
    .checkbox, .radio {
        padding-top: 1em;
        i {
            color: #008000;
        }
        span {
            font-weight: normal;
            font-size: 1em;
            display: inline;
            line-height: 25px;
            &.price {
                color: #008000;
                font-weight: bold;
            }
        }
    }
    .option-quant {
        padding-top: 0.5em;
        text-align: center;
        label {
            width: 100%;
            margin: 0px;
            padding: 0.5em;
        }
        span {
            display: inline;
            color: #008000;
            font-weight: bold;
        }
        input {
            padding: 4px 12px;
            text-align: center;
            font-weight: bold;
            font-size: 1.2em;
            border: none;
            background: transparent;
        }
    }
}

  .bill-orders {

    .panel-body{
      max-height: 16em;
      overflow-y: auto;
    }

    .order-info-resume {
      width: 100%;
      float: left;
    }

    .order-info-complete {
      float: left;
      width: 100%;

      ul{
        padding: 0px;
        list-style: none;
        li{
          padding-left: 20px;
        }
      }

      .group-name{
        font-weight: bold;
        padding-left: 10px;
      }
    }

    .list-group-item {
      display: inline-block;
      width: 100%;
      position: relative;
    }

    button, a {
      position: absolute;
      right: 3em;
      padding: 0.1em 0.4em;

      &.submit {
        position: inherit;
      }

      &.close-info {
        right: 3em;
        display: none;
      }

      &.cancel {
        right: 0.9em;
      }

      i {
        width: 1em;
        height: 1em;
      }
    }

  }
}

@media (max-width: 400px) {
  #modalBill{
    .info{
      text-align: center;
    }
    .modal-body{
      max-height: 75vh;
    }
  }
}

@media (max-height: 565px){

  #modalBill{
    .bill-orders{
      display: none;
    }
  }

}
</style>
