<template>
  <div class="panel panel-default">
    <div class="panel-heading">
      <label for="requestTokenTable">
        <i class="fa fa-map-marker fa-2x"></i> Solicitações de Token de Spot:
      </label>
    </div>
      <table class="table table-hover" id="requestTokenTable" v-if="tokenRequests && tokenRequests.length > 0">
        <thead>
          <th>Imagem</th>
          <th>Usuário</th>
          <th>Mesa/Cartão</th>
          <th>Ações</th>
        </thead>
        <tbody>
          <tr v-for="(t, k) in tokenRequests" :key="k">
            <td><img class="user-picture" :src="(t.user) ? t.user.photo : 'https://via.placeholder.com/200x200?text=Sem+Foto'" /></td>
            <td>{{(t.user) ? t.user.name : 'Sem Nome'}}</td>
            <td>"{{t.table_number}}"</td>
            <td><button @click="closeRequest(t)" class="btn btn-success"><i class="fa fa-check"></i></button></td>
          </tr>
        </tbody>
      </table>
      <div class="no-requests" v-if="tokenRequests && tokenRequests.length == 0">
        Não há requisições de acesso para o autoatendimento.
      </div>
      <div class="loading-requests" v-if="!tokenRequests">
        Aguarde, carregando requisições para acessar autoatendimento...
      </div>
  </div>
</template>

<script>
var functions = require('../../functions');
var socketConnection = require('../../socket/socket_connection.js');
var socket = socketConnection.socket;

export default {
  data(){
    return {
      tokenRequests: null
    }
  },
  mounted(){
    this.loadTokenRequests();

    var location = document.querySelector('#location').getAttribute('value');
    socket.on('private-table-request.' + location + ':App\\Events\\TableRequesting', function (result) {
      this.loadTokenRequests();
      this.showTableRequests(result);
    }.bind(this));
  },
  methods: {
    loadTokenRequests(){
      this.$http.get('home/request-tokens').then(function (response) {
        this.tokenRequests = response.body;
      });
    },
    showTableRequests(obj){
      window.swRegister.showNotification('Código de Acesso', 'Cliente solicitou um TOKEN para mesa/cartão: ' + obj.request.table_number);
    },
    closeRequest(tableRequest){
      this.$http.post('home/close-request-token', {
        table_request_id: tableRequest.id
      }).then(function(response){
        if(response.body.success){
          functions.showSuccessToast("Requisição concluída.");
          this.loadTokenRequests();
        }else{
          functions.showErrorToast("Erro ao concluir requisição.");
        }
      });
    }
  }
}

</script>

<style lang="scss" scoped>

.no-requests, .loading-requests{
  padding: 20px;
}
.table{
  min-height: 80px;
  max-height: 200px;
  overflow-y: auto;

  th{
    text-align: center;
  }

  td{
    text-align: center;
    vertical-align: middle;
  }

  .user-picture{
    border-radius: 50px;
    width: 40px;
    height: 40px;
  }
}
</style>
