<template>
  <div>
    <h2><b>Métricas</b></h2>
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
              <!-- Widget -->
              <span class="widget widget-hover-effect1">
                  <div class="widget-simple">
                      <div class="widget-icon pull-left background-spring animation-fadeIn">
                          <i class="fa fa-certificate"></i>
                      </div>
                      <h3 class="widget-content text-right animation-pullDown">
                          <strong>{{ establishmentsCount }}</strong><br>
                          <small>Estabelecimentos</small>
                      </h3>
                  </div>
              </span>
              <!-- END Widget -->
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
              <!-- Widget -->
              <span class="widget widget-hover-effect1">
                  <div class="widget-simple">
                      <div class="widget-icon pull-left background-spring animation-fadeIn">
                          <i class="fa fa-user"></i>
                      </div>
                      <h3 class="widget-content text-right animation-pullDown">
                          <strong>{{ usersCount }}</strong><br>
                          <small>Usuários do App</small>
                      </h3>
                  </div>
              </span>
              <!-- END Widget -->
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
              <!-- Widget -->
              <span class="widget widget-hover-effect1">
                  <div class="widget-simple">
                    <div class="widget-icon pull-left background-spring animation-fadeIn">
                          <i class="fa fa-dollar"></i>
                      </div>
                      <h3 class="widget-content text-right animation-pullDown">
                          <strong>R$ {{ total }}</strong><br>
                          <small>Vendas Total</small>
                      </h3>
                  </div>
              </span>
              <!-- END Widget -->
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
                  <!-- Widget -->
                  <span class="widget widget-hover-effect1">
                          <div class="widget-simple">
                                  <div class="widget-icon pull-left background-spring animation-fadeIn">
                                          <i class="fa fa-glass"></i>
                                  </div>
                                  <h3 class="widget-content text-right animation-pullDown">
                                          <strong>{{ billsCount }}</strong><br>
                                          <small>Contas Abertas</small>
                                  </h3>
                          </div>
                  </span>
                  <!-- END Widget -->
          </div>
      </div>

      <div class="row">
        <div class="col-sm-4 col-md-4" v-for="e in establishments">
            <!-- Advanced Active Theme Color Widget -->
            <div class="widget">
              <div class="widget-advanced">
                  <!-- Widget Header -->
                  <div class="widget-header text-center" :class="{'background-fire': e.status == 'disabled', 'background-dark' : e.status != 'disabled'}">
                      <h3 class="widget-content-light">
                          <a href="page_ready_user_profile.html" class="themed-color">{{ e.name }}</a><br>
                          <small>{{ e.phone }} - {{ e.email }}</small>
                      </h3>
                  </div>
                  <!-- END Widget Header -->

                  <!-- Widget Main -->
                  <div class="widget-main">
                      <a :href="'/establishments/' + e.id" class="widget-image-container animation-hatch">
                          <img :src="(e.image) ? e.image : 'https://via.placeholder.com/100x100'" alt="avatar" class="widget-image img-circle">
                      </a>
                      <div class="row text-center animation-fadeIn">
                          <div class="col-xs-3">
                                  <!-- {{-- <h4><strong>{{ count($e->getBills(\App\Models\Bill::STATUS_CLOSED)) }}</strong><br><small>Contas</small></h4> --}} -->
                          </div>
                          <div class="col-xs-3">
                                  <!-- {{-- <h4><strong>R$ {{ $e->getTotalSales() }}</strong><br><small>Faturados</small></h4> --}} -->
                          </div>
                          <div class="col-xs-3">
                                  <!-- {{-- <h4><strong>R$ {{ $e->getAverageTicket() }}</strong><br><small>Ticket Médio</small></h4> --}} -->
                          </div>
                          <div class="col-xs-3">
                                  <!-- {{-- <h4><strong>{{ count($e->products) }}</strong><br><small>Produtos</small></h4> --}} -->
                          </div>
                      </div>
                  </div>
                  <!-- END Widget Main -->
              </div>
            </div>
            <!-- END Advanced Active Theme Color Widget -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
var functions = require('../../functions');

export default{
  data(){
    return {
      establishments: null,
      establishmentsCount: 0,
      usersCount: 0,
      total: 0.0,
      billsCount: 0
    }
  },
  created(){
    this.loadData();
  },
  methods: {
    loadData(){
      this.$http.get('home/dashboard').then(function (response) {
        var data = response.data;
        console.log(data)
        this.establishments = data.establishments;
        this.establishmentsCount = Object.keys(this.establishments).length;
        this.usersCount = Object.keys(data.users).length;
        this.billsCount = Object.keys(data.bills).length;
        this.total = data.total
      });
    },
  }
}

</script>

<style lang="scss" scoped>

</style>
