@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "resources/assets/sass/datatables/datatables";
@import "resources/assets/sass/multiselect/multiselect";
@import "vendor/bower_resources/bootstrap-select/sass/bootstrap-select";
@import "node_modules/toastr/toastr.scss";

// -- Font Face -- //
@font-face {
  font-family: leaguespartan-bold;
  src: url('/fonts/LeagueSpartan-Bold.otf');
}

@font-face {
  font-family: 'FontAwesome';
  src: url("/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
   url("/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
   url("/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
   url("/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

// -- Formulário de Login -- //
html,
body {
  width: 100%;
  height: 100%;

}

body {
  font-family: 'Lato';
  background-color: #f7f9fb;
  padding-top: 70px;

  //&.plateau{
  //  background:linear-gradient(#00b3ee, #000000);
  //}
}

.row {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.btn {
  margin: 0 0.1em;
}

.btn-primary {
  background-color: #014687;
  border-color: #014687;
}

.fa-btn {
  margin-right: 6px;
}

.toast-top-center {
  top: 10%;
}

#login {
  .logo {
    text-align: center;

    img {
      width: 100%;
    }
  }

  .panel.login {
    margin-top: 1em;

    .panel-heading {
      text-align: center;
      font-size: 2em;
      font-family: 'Helvetica Neue';
      background-color: #014687;
      color: #fff;

      img {
        width: 200px;
      }
    }

    .panel-body {

      form {
        margin-top: 1.5em;
      }

      a {
        color: #fb9107;
      }

      button {
        border: thin solid #fff;
        background-color: #fb9107;
      }

    }
  }
}

// -- Topbar -- //

.navbar-nav {
  li {
    a {
      font-size: 1.2em;
      &.active {
        font-weight: bold;
        font-size: 1.4em;
      }
    }

    &.dropdown.open {
      a {
        background-color: #fff;
        color: #014687 !important;
        &.dropdown-toggle {
          background-color: #fb9107;
          color: #fff !important;
        }
      }

      .dropdown-menu {
        a {
          &:hover {
            background-color: #014687;
            color: #fff !important;
          }
        }
      }
    }
  }
}

// -- Dashboard -- //

#navbar {
  background-color: #014687;

  .navbar-brand {
    &.logo {
      padding-top: 0.35em;

      img {
        width: 115px;
      }
    }
  }

  a {
    color: #fff;
  }

}

.navbar-toggle {
  background-color: transparent;
  border: none;
  font-size: 1.7em;
  padding: 0;
  color: #fff;
  width: 40px;
  height: 40px;

  &.left {
    float: left;
    margin-left: 15px;
    margin-right: 0;
  }

  &.right {
    margin-right: 0;
  }

  .icon {
    display: block;
    width: 22px;
  }

  &:focus, &:hover, &:visited, &:active {
    background-color: transparent !important;
    border: none;
  }
}

#wrapper {
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.table-object {
  border: thin solid #ccc;
  display: table;
  margin: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #666;
  -webkit-box-shadow: 1px 2px 5px #666;
  -moz-box-shadow: 1px 2px 5px #666;
  text-align: center;

  &.closing {
    border: 5px solid #fb9107;
  }

  .table-name {
    font-size: 1.5em;
    margin-top: 1.5em;
    font-family: 'Helvetica Neue';
  }
  .bill-user {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin-top: 1em;
    width: 100%;
  }
  .btn {
    margin: 0;
    float: none;
    margin-bottom: 1em;
  }
}

// -- Establishemnt -- //
#establishmentInfo {

}

.info-box {
  display: block;
  min-height: 90px;
  background: #eee;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;

  .info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
  }

  .info-box-content {
    padding: 5px 10px;
    margin-left: 90px;

    .info-box-text {
      text-transform: uppercase;
      display: block;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .info-box-number {
      display: block;
      font-weight: bold;
      font-size: 18px;
    }
  }

}

// -- Profile -- //
#profile {

  .panel-primary {
    border-color: #014687;
    .panel-heading {
      background-color: #014687;
      border-color: #014687;
    }
    .panel-body {
      li {
        a {
          color: #014687;
        }
        &.active {
          a {
            color: #fff;
            background-color: #014687;
          }
        }
      }
    }
  }

}

// -- Sidebar -- //

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;

  .nav > li {
    position: relative;
    display: block;
  }

  .nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;

    a {
      color: #014687;
    }
  }

  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #014687;
  }

  .nav-sidebar > li > a {
    padding: 1.5em;
  }
}

// -- Internal Datatables -- //
.dataTable {

  .list-products-table {
    width: 100%;
    float: left;

    .well {
      background-color: transparent;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      a {
        font-size: 1.3em;
      }
    }
  }

}

// -- Modal Bill -- //
#modalBill {
  .bill-user {
    img {
      float: left;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
  }
  .info {
    float: left;

    span {
      display: block;
      font-weight: bold;
      font-size: 1.3em;
    }
    p {
      display: block;
      font-size: 1.1em;
    }
  }

  .bill-orders {
    .cancel {
      margin-left: 10px;
    }
  }
}

// -- Widgets -- //

a.widget {
  text-decoration: none;
}

.widget {
  margin-top: 20px;
  display: block;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  background-color: #eee;

  .widget-options, .widget-options-left {
    position: absolute;
    top: 5px;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  .widget-options-left {
    left: 5px;
  }

  .widget-image, .widget-icon {
    width: 64px;
    height: 64px;
  }

  .widget-content-light {
    color: #ffffff;

    small {
      color: #eeeeee;
    }
  }

  .widget-icon {
    display: inline-block;
    line-height: 64px;
    text-align: center;
    font-size: 28px;
    color: #ffffff;
    border-radius: 32px;
  }

  .background-spring {
    background-color: #27ae60 !important;
  }

  .background-autumn {
    background-color: #e67e22 !important;
  }

  .background-fire {
    background-color: #e74c3c !important;
  }

  .background-sea {
    background-color: #1bbae1;
  }

  .background-dark {
    background-color: #014687;
  }

  .themed-color {
    color: #fff;
  }
}

.widget-advanced {

  .widget-header {
    position: relative;
    padding: 15px 15px 50px;
    height: 150px;
    overflow: hidden;
  }

  .widget-main {
    position: relative;
    padding: 50px 15px 15px;
  }

  .widget-image-container {
    position: absolute;
    display: inline-block;
    padding: 5px;
    width: 74px;
    height: 74px;
    top: -36px;
    left: 50%;
    margin-left: -36px;
    border-radius: 36px;
    background-color: #ffffff;
  }
}

.widget-simple {
  padding: 15px;

  .widget-content {
    font-size: 18px;
    margin: 12px 0;

    small {
      display: block;
      margin-top: 7px;
      font-size: 13px;
      font-weight: 400;
    }
  }

  .widget-image, .widget-icon {
    margin: 0 15px;

    &.pull-left {
      margin-left: 0;

    }
  }

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

  #navbar {
    .navbar-brand {
      &.logo {
        padding-top: 0.5em;
      }
    }
  }

  #wrapper {
    padding-right: 0;
  }

  #sidebar-wrapper {
    width: 100%;
    transition: left .25s linear;
    -moz-transition: left .25s linear;
    -webkit-transition: left .25s linear;
    left: -100%;

    &.collapse {
      left: 0;
    }
  }

  #page-content-wrapper {
    .container {
      padding: 0;
    }

    .dataTables_length {
      display: none;
    }

    .dataTable {
      width: 100%;
      padding: 0;
    }
  }

}
