@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "resources/assets/sass/datatables/datatables";
@import "resources/assets/sass/multiselect/multiselect";
@import "vendor/bower_resources/bootstrap-select/sass/bootstrap-select";
@import "node_modules/toastr/toastr.scss";
@import "node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.less";

// -- Font Face -- //
@font-face {
  font-family: leaguespartan-bold;
  src: url('/fonts/LeagueSpartan-Bold.otf');
}

@font-face {
  font-family: 'FontAwesome';
  src: url("/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
  url("/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
  url("/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
  url("/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

$blue: #014687;
$orange: #fb9107;
$neutral: #f7f9fb;

// -- Formulário de Login -- //
html,
body {
  width: 100%;
  height: 100%;
  background-color: $blue;
}

body {
  font-family: 'Lato';
  background-color: $blue;
  margin-bottom: 0px !important;

  &#app-layout{
    padding-top: 70px;
  }

  &.plateau{
    background-color: $neutral;
    min-height: 100%;
    height: auto;
  }
}

#app-layout{
  padding-top: 70px;
}

#header-logo{
  width: 160px;
  margin-left: 10px;
}

.straight{
  .loading-data, .no-data{
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
  }
}

#products{
  form{
    width: 100%;
    height: auto;
    display: table;
    padding-bottom: 20px;
  }
}

form{

  .photo-upload{
    text-align: center;

    .loading{
      display: none;
    }
    .btn{
      margin-top: 1em;
      width: 100%;
    }
    [hidden] {
      display: none !important;
    }
    input{
      margin-top: 1em;
    }
    img{
      width: 100%;
      border-radius: 1em;
      -webkit-border-radius: 1em;
      -moz-border-radius: 1em;
    }
  }

  .form-group{

    textarea{
      resize: none;
    }

    .form-control{
      font-size: 1.2em;
    }
  }

  .options{
    .option-item{
      &:first-child{
        hr{
          display: none;
        }
      }
    }
  }

}

[v-cloak] {
  display: none;
}

.row {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.btn {
  margin: 0 0.1em;
}

.btn-default{
  background-color: transparent;

  &:hover{
    background-color: #777;
    color: #fff;
  }
}

.btn-primary {
  color: $blue;
  font-weight: bold;
  background-color: transparent;
  border-color: $blue;
}

.btn-success {
  color: #5cb85c;
  font-weight: bold;
  background-color: transparent;
  border-color: #5cb85c;
}

.btn-warning {
  color: #f0ad4e;
  background-color: transparent;
  font-weight: bold;
}

.btn-danger{
  color: #d9534f;
  font-weight: bold;
  background-color: transparent;
  border-color: #d9534f;
}

.full-width{
  width: 100%;
}

.fa-btn {
  margin-right: 6px;
}

.toast-top-center {
  top: 10%;
}

#register {
  form{
    button {
      width: 50%;
      height: 50px;
      margin-top: 2em;
      border: none;
      background-color: $orange;
      color: #fff;
    }
  }
}

#login {
  margin-top: 3.5em;
  display: block;

  .logo {
    text-align: center;

    img {
      width: 50%;
    }
  }

  form {
    margin-top: 1.5em;
    img {
      width: 200px;
    }

    a {
      color: $orange;
    }

    input[type=text], input[type=password], input[type=email]{
      height: 50px;
      border: none;
      color: $neutral;
      font-size: 1.3em;
      text-align: center;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: thin solid $neutral;
      background-color: transparent !important;
      box-shadow: none;
      border-radius: 0px;
    }

    button {
      width: 50%;
      height: 50px;
      margin-top: 2em;
      border: none;
      background-color: $orange;
      color: #fff;
    }

    .help-block{
      text-align: center;
      color: $orange;
    }

  }
}

// -- Topbar -- //

.navbar-nav {
  li {
    a {
      margin-top: 5px;
      font-family: 'leaguespartan-bold';
      font-size: 1.1em;
      &.active {
        font-weight: bold;
        font-size: 1.2em;
      }
    }

    &.dropdown{
      a{
        margin: 0;
        padding-top: 20px;
      }
    }

    &.dropdown.open {
      a {
        text-align: center;
        background-color: #fff;
        color: $blue !important;

        &.dropdown-toggle {
          background-color: $orange;
          color: #fff !important;
        }
      }

      .dropdown-menu {
        min-width: 190px;
        hr{
          margin: 0;
        }
        a {
          width: 100%;
          padding: 10px;
          display: flex;

          span{
            float: left;
          }
          i{
            float: left;
            width: 30px;
            padding: 3px;
          }

          &:hover {
            background-color: $blue;
            color: #fff !important;
          }
        }
      }
    }
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
  }

  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }

  .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: $blue;
    margin-top: 5px;
    position: absolute;
    right: 10px;
  }

  .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
  }

  .dropdown-submenu.pull-left {
    float: none;
  }

  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }

  &.navbar-right{
    li.dropdown{
      border-left: thin solid #777;
      padding-left: 23px;
      padding-right: 23px;
      &.open{
        background-color: #fb9107;
      }
    }
    a{
      font-size: 14px;
    }
  }
}

// -- Dashboard -- //

#navbar {
  background-color: $blue;

  .navbar-brand {
    &.logo {
      padding-top: 0.35em;

      img {
        width: 115px;
      }
    }
  }

  a {
    color: #fff;
  }

}

#control{
  .form-group{
    margin-bottom: 15px;
  }
}

.navbar-toggle {
  background-color: transparent;
  border: none;
  font-size: 1.7em;
  padding: 0;
  color: #fff;
  width: 40px;
  height: 40px;

  &.left {
    float: left;
    margin-left: 15px;
    margin-right: 0;
  }

  &.right {
    margin-right: 0;
  }

  .icon {
    display: block;
    width: 22px;
  }

  &:focus, &:hover, &:visited, &:active {
    background-color: transparent !important;
    border: none;
  }
}

#wrapper {
  padding-right: 300px;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;

  h2{
    font-weight: bold;
    color: $blue;
  }
}

.table-object {
  border: 3px solid $blue;
  background-color: #fff;
  display: inline-block;
  margin: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  height: 270px;
  padding-bottom: 1em;

  &.closing {
    border: 3px solid $orange;
  }

  &.blocked {
    border: 3px solid red;
  }

  .input-table-name{
    position: absolute;
    bottom: 2em;
    left: 1em;
    right: 1em;
  }
  .edit-table-name{
    text-decoration: none;
  }

  .table-name {
    font-size: 1.3em;
    margin-top: 1.5em;
    font-family: 'Helvetica Neue';
  }
  .bill-user {
    transition: all .2s ease-in-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-top: 2em;
    height: 8.5em;
    width: 9em;
    cursor: pointer;
    &:hover{
      transform: scale(1.2);
      border: 0.2em solid #ccc;
    }
  }
  .btn {
    margin: 0;
    float: none;
    margin-bottom: 1em;
  }
}

// -- Profile -- //
#profile {

  .panel-primary {
    border-color: $blue;
    .panel-heading {
      background-color: $blue;
      border-color: $blue;
    }
    .panel-body {
      li {
        a {
          width: 100%;
          display: inline-block;
          color: $blue;

          span{
            float: left;
          }
          i{
            float: left;
            width: 30px;
            padding: 3px;
          }
        }
        &.active {
          a {
            color: #fff;
            background-color: $blue;
          }
        }
      }
    }
  }

  #maps{
    width: 100%;
    height: 330px;
  }

}

// -- Tabs -- //

.nav-tabs{
  margin-top: 15px;

  a{
    font-size: 1.3em;
    font-weight: bold;
  }

  .active{
    a, a:hover, a:focus{
      background-color: #f7f9fb !important;
      border-bottom-color: #f7f9fb;
    }
  }

}

.tab-pane{
  margin-top: 20px;
}

// -- Sidebar Orders -- //

.btn-collapse-sidebar {
  display: none;
}

// -- Internal Datatables -- //
//

#menusTable {
  .cursor {
    cursor: pointer;
  }
}

.dataTable {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 2em !important;

  th{
    border: 1px solid #ccc !important;
    font-size: 1.5em !important;
    text-align: center !important;
  }

  td{
    vertical-align: middle !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    text-align: center !important;
  }

  .list-products-table {
    width: 100%;
    float: left;
    text-align: left;

    .well {
      background-color: transparent;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      a {
        font-size: 1em;
      }
    }
  }

}

// -- Multiselect -- //
.ms-container {
  width: 100%;
}

// -- Modal Bill -- //
#modalBillNew {
  display: block;

  &.mask{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .loading-modal {
    width: 100%;
    text-align: center;
  }

  .modal-body{
    max-height: calc(100vh - 210px);
  }

  .info {
    width: 100%;
    float: left;

    span {
      display: block;
      font-weight: bold;
      font-size: 1.3em;
    }
    p {
      display: block;
      font-size: 1.1em;
    }
  }

  .bill-user {
    img {
      margin: 0px auto;
      display: block;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
  }

  .bill-orders {

    h4{
      font-weight: bold;
    }

    ul{
      max-height: 16em;
      overflow-y: auto;
    }

    .order-info-resume {
      width: 100%;
      float: left;
    }

    .order-info-complete {
      float: left;
      width: 100%;
    }

    .list-group-item {
      display: inline-block;
      width: 100%;
      position: relative;
    }

    button, a {
      position: absolute;
      right: 1em;
      padding: 0.1em 0.4em;

      &.submit {
        position: inherit;
      }

      &.close-info {
        right: 3em;
        display: none;
      }

      &.cancel {
        right: 0.9em;
      }

      i {
        width: 1em;
        height: 1em;
      }
    }

  }
}


/*
* The following styles are auto-applied to elements with
* transition="modal" when their visibility is toggled
* by Vue.js.
*
* You can easily play with the modal transition by editing
* these styles.
*/

.fade-leave-active {
  transition: opacity .5s
}
.fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.modal-enter, .modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

// -- HISTORY -- //

a.widget {
  text-decoration: none;
}

.widget {
  margin-top: 20px;
  display: block;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  background-color: #eee;

  .widget-options, .widget-options-left {
    position: absolute;
    top: 5px;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  .widget-options-left {
    left: 5px;
  }

  .widget-image, .widget-icon {
    width: 64px;
    height: 64px;
  }

  .widget-content-light {
    color: #ffffff;

    small {
      color: #eeeeee;
    }
  }

  .widget-icon {
    display: inline-block;
    line-height: 64px;
    text-align: center;
    font-size: 28px;
    color: #ffffff;
    border-radius: 32px;
  }

  .background-spring {
    background-color: #27ae60 !important;
  }

  .background-autumn {
    background-color: #e67e22 !important;
  }

  .background-fire {
    background-color: #e74c3c !important;
  }

  .background-sea {
    background-color: #1bbae1;
  }

  .background-dark {
    background-color: $blue;
  }

  .themed-color {
    color: #fff;
  }
}

.widget-advanced {

  .widget-header {
    position: relative;
    padding: 15px 15px 50px;
    height: 150px;
    overflow: hidden;
  }

  .widget-main {
    position: relative;
    padding: 50px 15px 15px;
  }

  .widget-image-container {
    position: absolute;
    display: inline-block;
    padding: 5px;
    width: 74px;
    height: 74px;
    top: -36px;
    left: 50%;
    margin-left: -36px;
    border-radius: 36px;
    background-color: #ffffff;
  }
}

.widget-simple {
  padding: 15px;

  .widget-content {
    font-size: 18px;
    margin: 12px 0;

    small {
      display: block;
      margin-top: 7px;
      font-size: 13px;
      font-weight: 400;
    }
  }

  .widget-image, .widget-icon {
    margin: 0 15px;

    &.pull-left {
      margin-left: 0;

    }
  }

}

@media (min-width: 769px){

  .straight{
    margin: 0.5em 1em;
  }

}

@media (max-width: 768px) {

  #navbar {
    .navbar-brand {
      &.logo {
        padding-top: 0.5em;
      }
    }
  }

  #wrapper {
    padding-right: 0;
  }

  #page-content-wrapper {
    .container {
      padding: 0;
    }

    .dataTables_length {
      display: none;
    }

    .dataTable {
      width: 100%;
      padding: 0;
    }
  }

}

@media (max-width: 400px) {
  #navbar{
    .navbar-collapse{
      min-height: 260px;
      max-height: 440px;
      a{
        text-align: center;
      }
    }
  }
}

// -- FakeLoader -- //

#fake-loader{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $blue;
  z-index: 9999;
  top: 0;

  span{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    text-align: center;
  }

  i{
    color: #fff;
    position: relative;
    top: 45%;
  }
}
