<template>
<div>
  <h4><i class="fa fa-bar-chart"></i> Dados de Atendimento</h4>
  <h5>Informações coletadas para auxiliar no estabelecimento</h5>
  <hr/>

  <div class="row">

    <div class="col-sm-6 col-lg-6">
        <!-- Widget -->
        <span class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left background-spring animation-fadeIn">
                    <i class="fa fa-dollar"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    R$ <strong>{{ consumption.average }}</strong><br>
                    <small>Ticket Médio</small>
                </h3>
            </div>
        </span>
        <!-- END Widget -->
    </div>

    <div class="col-sm-6 col-lg-6">
        <!-- Widget -->
        <span class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left background-spring animation-fadeIn">
                    <i class="fa fa-dollar"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    R$ <strong>{{ consumption.total }}</strong><br>
                    <small>Faturados pelo serviço</small>
                </h3>
            </div>
        </span>
        <!-- END Widget -->
    </div>

    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <a href="/analysis/service" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left background-sea animation-fadeIn">
                    <i class="fa fa-clock-o"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>{{ averageService.hours }}h</strong> {{ averageService.minutes }}min<br>
                    <small>Média de Atendimento</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <a href="/analysis/users" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left background-fire animation-fadeIn">
                    <i class="fa fa-user"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>{{ totalUsers }}</strong><br>
                    <small>Usuários já utilizaram</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <span class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left background-autumn animation-fadeIn">
                    <i class="fa fa-file-text"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>{{ totalBills }}</strong><br>
                    <small>Contas abertas</small>
                </h3>
            </div>
        </span>
        <!-- END Widget -->
    </div>

    <div class="col-sm-12 col-lg-12">
        <!-- Widget -->
        <span class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left background-spring animation-fadeIn">
                    <i class="fa fa-eye"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    <strong>{{ preorderAccesses }}</strong><br>
                    <small>Visualizações de Cardápio</small>
                </h3>
            </div>
        </span>
        <!-- END Widget -->
    </div>

  </div>

  <div class="row">
      <div class="col-md-6">
          <!-- Advanced Active Theme Color Widget -->
          <div class="widget">
              <div class="widget-advanced">
                  <!-- Widget Header -->
                  <div class="widget-header text-center background-dark">
                      <div class="widget-options-left">
                      </div>
                      <h3 class="widget-content-light">
                          <a href="javascript:void(0)" class="themed-color">Produtos mais Vendidos</a><br>
                      </h3>
                  </div>
                  <!-- END Widget Header -->

                  <!-- Widget Main -->
                  <div class="widget-main">
                      <a href="javascript:void(0)" class="widget-image-container animation-bigEntrance">
                          <span class="widget-icon background-autumn"><i class="fa fa-shopping-cart"></i></span>
                      </a>
                      <table class="table table-borderless table-striped table-condensed table-vcenter">
                          <tbody>
                          <tr v-for="p in bestSellerProducts">
                              <td style="width: 10px;">{{ (p.code) ? p.code : p.id }}</td>
                              <td><strong>{{ p.name }}</strong></td>
                              <td class="text-right">{{ p.count }}</td>
                              <td class="text-center" style="width: 70px;">
                                  <div class="btn-group btn-group-xs">
                                      <a target="_blank" :href="'/products/' + p.id + '/edit'" class="btn btn-default" data-toggle="tooltip" title="Editar Produto"><i class="fa fa-pencil"></i></a>
                                  </div>
                              </td>
                          </tr>
                          </tbody>
                      </table>
                      <!-- <div class="text-center"><a href="javascript:void(0)">Ver todos..</a></div> -->
                  </div>
                  <!-- END Widget Main -->
              </div>
          </div>
          <!-- END Advanced Active Theme Color Widget -->
      </div>
      <div class="col-md-6">
          <!-- Advanced Active Theme Color Widget -->
          <div class="widget">
              <div class="widget-advanced">
                  <!-- Widget Header -->
                  <div class="widget-header text-center background-dark">
                      <h3 class="widget-content-light">
                          <a href="javascript:void(0)" class="themed-color">Acesso de Usuários</a><br>
                      </h3>
                  </div>
                  <!-- END Widget Header -->

                  <!-- Widget Main -->
                  <div class="widget-main">
                      <a href="javascript:void(0)" class="widget-image-container animation-bigEntrance">
                          <span class="widget-icon background-spring"><i class="fa fa-user"></i></span>
                      </a>
                      <table class="table table-borderless table-striped table-condensed table-vcenter">
                          <tbody>
                          <tr v-for="u in topUsers">
                              <td style="width: 10px;">{{ u.email_account ? '(' + u.email_account + ')' : '' }}</td>
                              <td><strong>{{ u.name }}</strong></td>
                              <td class="text-right">{{ u.count }}</td>
                              <td class="text-center" style="width: 70px;">
                              </td>
                          </tr>
                          </tbody>
                      </table>
                      <!-- <div class="text-center"><a href="javascript:void(0)">Ver todos..</a></div> -->
                  </div>
                  <!-- END Widget Main -->
              </div>
          </div>
          <!-- END Advanced Active Theme Color Widget -->
      </div>
  </div>
</div>
</template>

<script>
var functions = require('../../functions');

export default {
  data(){
    return {
      averageService: {},
      consumption: {},
      totalUsers: null,
      bestSellerProducts: null,
      topUsers: null,
      totalBills: null,
      preorderAccesses: 0,
      billAccesses: 0
    }
  },
  mounted(){
    this.loadData();
  },
  methods: {
    loadData(){
      this.$http.get('analysis/data').then((res) => {
        console.log(res.data);
        var data = res.data
        this.averageService = data.averageService
        this.consumption = data.consumption
        this.totalUsers = data.totalUsers
        this.bestSellerProducts = data.bestSellerProducts
        this.topUsers = data.topUsers
        this.totalBills = data.totalBills
        this.preorderAccesses = data.preorderAccesses
        this.billAccesses = data.billAccesses
      });
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
