<template>
  <transition name="modal">
    <div class="modal mask" id="modalBillNew">

      <div class="modal-dialog" role="document">
        <div class="modal-content" v-if="bill && loading == false">

          <div class="modal-header">
            <button type="button" class="close pull-right" v-on:click="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title pull-left" id="myModalLabel">
              {{ bill.table.name }} <span v-if="bill.table.alias != null && bill.table.alias != ''">- "{{ bill.table.alias }}"</span>
            </h4>
          </div>

          <div class="modal-body">

            <div class="row" v-if="bill.user">

              <div class="col-xs-4 col-md-4">
                <div class="bill-user">
                  <img width="100" height="100" v-bind:src="bill.user.photo"/>
                </div>
              </div>

              <div class="col-xs-4 col-md-8">
                <div class="info">
                  <span>{{ bill.user.name }}</span>
                  <span v-if="bill.waiter">Responsável: {{ bill.waiter.name }}</span>
                  <span>Consumo: {{ formatCurrency(bill.total) }}</span>

                  <h5 class="sync-success" v-if="bill.has_paid">
                    Pagamento efetuado no webapp (Cielo). 
                    <br>Código de transação: <b>{{bill.transaction_code}}</b>
                    <br>Bandeira: <b>{{ bill.card_flag }}</b>
                  </h5>

                  <p class="hidden-xs">
                    Nacionalidade: {{ bill.user.country }}<br/>
                    Horário de Entrada: {{ bill.opened_at }}<br/>
                    Duração: {{ bill.duration }}
                  </p>
                </div>
              </div>

            </div>

            <div class="row" v-if="bill.temp_user == 1">
              <div class="col-xs-12">
                <div class="info">
                  <span>
                    Nome do Cliente: {{ bill.raw_user.username }}
                  </span>
                  <span v-if="bill.waiter">Responsável: {{ bill.waiter.name }}</span>
                  <span>Consumo: {{ formatCurrency(bill.total) }}</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <button v-if="bill.status == 'closed' || bill.status == 'closing'" class="btn btn-warning" @click="changeStatus('opened')">Reabrir Conta</button>
                <button v-if="bill.status == 'opened'" class="btn btn-danger" @click="closeBill()">Encerrar Conta</button>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="bill-orders">
                  <h4>Pedidos</h4>
                  <ul class="list-group" v-if="orders.length > 0">
                    <li class="list-group-item" v-for="o in orders" v-if="o.status != 'trash'">
                      <div class="order-info-resume">
                        <span v-if="o.is_weight_price == 1">
                          <b>#{{ o.id }}: </b>
                          <b v-if="o.product.code != ''">{{ o.product.code }} -</b>
                          <b v-else>{{ o.product.id }} -</b>
                          <b>{{ o.product.name }} - (peso: {{ o.order_weight }}g)</b>
                          - {{ formatCurrency(o.cache_price) }}
                        </span>
                        <span v-else>
                          <b>#{{ o.id }}: </b>
                          <b v-if="o.product.code != ''">{{ o.product.code }} -</b>
                          <b v-else>{{ o.product.id }} -</b>
                          <b>{{ o.product.name }}</b>- {{ formatCurrency(o.cache_price) }}
                        </span>
                      </div>
                      <div class="order-info-complete" v-if="showCollapsedInfo[o.id] == true">
                        <b>Data do Pedido: {{ o.created_at }}</b><br />
                        <b>Quantidade: {{ o.quant }}</b><br />
                        <b v-if="o.by_waiter">- Pedido feito pelo garçom {{ o.waiter.name }} -</b>
                        <b v-if="o.by_admin">- Pedido feito pelo administrador -</b>
                        <b v-if="o.by_waiter == false && o.by_admin == false">- Pedido feito pelo cliente - {{ o.user.name }}</b>
                        <br />
                        <b v-if="o.observation">Observação: {{ o.observation }}</b>
                        <div v-if="o.product.groups">
                          <ul v-for="group in o.product.groups">
                            <li class="group-name">
                              {{group.name}}
                            </li>
                            <li v-for="i in group.items">
                              {{ i.item.name }}<i v-if="i.quant > 1"> - ({{ i.quant }})</i>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <a rel="tooltip" class="btn btn-success open-info hidden-xs" v-on:click.stop.prevent="showInfo(o.id)">
                        <i v-if="showCollapsedInfo[o.id] == false" class="fa fa-info"></i>
                        <i v-if="showCollapsedInfo[o.id] == true" class="fa fa-chevron-up"></i>
                      </a>
                    </li>
                    <li class="list-group-item" v-if="bill.has_baksheesh > 0">
                      <span><b>Acréscimo de {{bill.baksheesh_percentage}}% </b> - {{ formatCurrency(bill.baksheesh) }}</span>
                    </li>
                  </ul>
                  <h4 class="text-center" v-if="orders.length == 0">Nenhum pedido registrado.</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn pull-right btn-danger" @click="closeModal()">Fechar</button>
          </div>
        </div>
        <div class="modal-content" v-else>
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Aguarde, carregando</h4>
          </div>
          <div class="modal-body">
            <div class="loading-modal">
              <i class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </transition>
</template>

<script lang="js">

var functions = require('../../functions');
var socketConnection = require('../../socket/socket_connection.js');
var socket = socketConnection.socket;

export default{
  props: ['billId'],
  data: function() {
    return {
      bill_id: this.billId,
      bill: null,
      orders: null,
      showCollapsedInfo: [],
      destinyBill: null,
      loading: false,
    }
  },
  mounted: function() {
    this.loading = true;
    this.loadBill(this.bill_id);
  },
  methods: {
    loadBill: function(bill_id){
      if(this.bill == null){
        this.bill = false;
      }
      if(bill_id){
        this.$http.get('home/bill/' + bill_id).then(function (response) {
          var data = response.data;
          this.bill = data;
          this.orders = this.bill.orders.filter(function(el, i, array) {
            return array[i].status !== "trash";
          });
          this.populateCollapsedInfo();
          this.loading = false;
        });
      }
    },
    populateCollapsedInfo: function(){
      for(var i = 0; i < this.orders.length; i++){
        this.$set(this.showCollapsedInfo, this.orders[i].id, false);
      }
    },
    changeStatus: function(status){
      var r = confirm("Tem certeza de que deseja reabrir essa conta?");
      if (r == true) {
        this.loading = true;
        this.$http.post('bills/' + this.bill_id + '/update', {
          status: status
        }).then(function(response){
          if(response.data.success == true){
            functions.showSuccessToast(response.data.message);
            this.loadBill(this.bill_id);
          }else{
            functions.showErrorToast(response.data.message);
            this.loading = false;
          }
        });
      }
    },
    showInfo: function(order_id){
      if(this.showCollapsedInfo[order_id] == false){
        this.$set(this.showCollapsedInfo, order_id, true);
      }else{
        this.$set(this.showCollapsedInfo, order_id, false);
      }
    },
    closeBill: function () {
      var r = confirm("Deseja realmente encerrar essa conta?");
      if (r == true) {
        this.loading = true;
        this.$http.post('home/bill/close/' + this.bill_id).then(function (response) {
          var data = response.data;
          if (data.error == true) {
            functions.showErrorToast(data.message);
            this.loading = false;
          } else {
            functions.showSuccessToast(data.message);
            this.loadBill(this.bill_id);
          }
        });
      }
    },
    closeModal: function() {
      this.$emit('close')
    },
    formatCurrency: functions.formatCurrency
  },
}
</script>

<style lang="scss" scoped>
// -- Modal Bill -- //
#modalBill {
  display: block;

  &.mask{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .loading-modal {
    width: 100%;
    text-align: center;
  }

  .modal-body{
    max-height: calc(100vh - 210px);
  }

  .info {
    width: 100%;
    float: left;

    span {
      display: block;
      font-weight: bold;
      font-size: 1.3em;
    }
    p {
      display: block;
      font-size: 1.1em;
    }
  }

  .bill-user {
    img {
      margin: 0px auto;
      display: block;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
  }

  .bill-orders {

    .panel-body{
      max-height: 16em;
      overflow-y: auto;
    }

    .order-info-resume {
      width: 100%;
      float: left;
    }

    .order-info-complete {
      float: left;
      width: 100%;
    }

    .list-group-item {
      display: inline-block;
      width: 100%;
      position: relative;
    }

    button, a {
      position: absolute;
      right: 3em;
      padding: 0.1em 0.4em;

      &.submit {
        position: inherit;
      }

      &.close-info {
        right: 3em;
        display: none;
      }

      &.cancel {
        right: 0.9em;
      }

      i {
        width: 1em;
        height: 1em;
      }
    }

  }
}

@media (max-width: 400px) {
  #modalBill{
    .info{
      text-align: center;
    }
    .modal-body{
      max-height: 75vh;
    }
  }
}

@media (max-height: 565px){

  #modalBill{
    .bill-orders{
      display: none;
    }
  }

}
</style>
