<template>
  <div id="dashboard">

    <div class="container-fluid">
      <h2>Lista de Contas</h2>

      <h3 v-if="billsClosing.length > 0" v-cloak>A Encerrar</h3>

      <div class="row" v-if="billsClosing.length > 0" v-cloak>
        <div class="col-xs-5 col-sm-5 col-md-3 col-lg-2 table-object closing" v-for="t in billsClosing">
          <div v-if="t.transaction_code && t.transaction_type" class="has_paid">PAGO</div>
          <img v-if="t.user" :src="t.user.photo" class="bill-user" @click.stop.prevent="loadModalBill(t.id);">
          <img v-else class="bill-user" src="https://via.placeholder.com/500x500?text=Sem+Foto" @click.stop.prevent="loadModalBill(t.id)">

          <div class="input-table-name">
            <span class="table-name">
              {{ closingTableNames[t.id].name }}
              <p v-if="closingTableNames[t.id].alias != null && closingTableNames[t.id].alias != ''">
                "{{ closingTableNames[t.id].alias }}"
              </p>
            </span>
          </div>

        </div>
      </div>

      <hr v-if="billsDisabled.length > 0" v-cloak/>

      <h3 v-if="billsDisabled.length > 0" v-cloak>Bloqueadas</h3>

      <div class="row" v-if="billsDisabled.length > 0" v-cloak>
        <div class="col-xs-5 col-sm-5 col-md-3 col-lg-2 table-object blocked" v-for="t in billsDisabled">
          <img v-if="t.user" :src="t.user.photo" class="bill-user" @click.stop.prevent="loadModalBill(t.id);">
          <img v-else class="bill-user" src="https://via.placeholder.com/500x500?text=Sem+Foto" @click.stop.prevent="loadModalBill(t.id)">

          <div class="input-table-name">
            <span class="table-name">
              {{ disabledTableNames[t.id].name }}
              <p v-if="disabledTableNames[t.id].alias != null && disabledTableNames[t.id].alias != ''">
                "{{ disabledTableNames[t.id].alias }}"
              </p>
            </span>
          </div>

        </div>
      </div>

      <hr v-if="billsClosing.length > 0" v-cloak/>

      <h3 v-if="bills.length > 0" v-cloak>Abertas</h3>

      <div class="row" v-if="bills.length > 0" v-cloak>
        <div class="col-xs-5 col-sm-5 col-md-3 col-lg-2 table-object animated bounceIn" v-for="t in bills">
          <img v-if="t.user" v-bind:src="t.user.photo" @error="errorImage" class="bill-user" @click.stop.prevent="loadModalBill(t.id)">
          <img v-else class="bill-user" src="https://via.placeholder.com/500x500?text=Sem+Foto" @click.stop.prevent="loadModalBill(t.id)">

          <div class="input-table-name">
            <a v-if="!showTableNameInputs[t.id]" class="edit-table-name"
            @click="changeTableName(t.id)">
            <span class="table-name">
              {{ tableNames[t.id].name }}
              <p v-if="tableNames[t.id].alias != null && tableNames[t.id].alias != ''">
                "{{ tableNames[t.id].alias }}"
              </p>
            </span>
          </a>
          <div class="edit-table-name" v-if="showTableNameInputs[t.id]">
            <input type="text" name="table_name"
            @keyup.enter="saveTableName(t.id)" v-model="tableNames[t.id].name"/>
            <button type="button" class="btn btn-success"
            @click="saveTableName(t.id)">OK</button>
          </div>
        </div>
      </div>

    </div>
    <div class="row text-center" v-if="loadingBills">
      <h3>Aguarde, carregando contas...</h3>

      <h3><i class="fa fa-spinner fa-spin fa-2x"></i></h3>
    </div>
    <div class="row text-center" v-if="bills.length == 0 && billsClosing.length == 0" v-cloak>
      <h3>Não há contas abertas no momento.</h3>
    </div>

  </div>
  <Modal establishment="establishment" :bill-id="modalBillId" v-if="showModalBill" @close="showModalBill = false"></Modal>
</div>
</template>

<script lang="js">

var functions = require('../../functions');
import Modal from './Modal.vue';
var socketConnection = require('../../socket/socket_connection.js');
var socket = socketConnection.socket;
import qz from 'qz-tray';

export default{
  props: ['config'],
  data: function() {
    return {
      loadingBills: true,
      bills: false,
      billsClosing: false,
      billsDisabled: false,
      showTableNameInputs: [],
      tableNames: [],
      disabledTableNames: [],
      closingTableNames: [],
      showModalBill: false,
      modalBillId: null,
      alertClosingBills: []
    }
  },
  created()
  {
    if(this.config.printer_name && this.config.printer_name != '' && this.config.printer_ip && this.config.printer_ip != ''){
      if (!qz.websocket.isActive()) {
        qz.websocket.connect({ retries: 3, delay: 1 });
      }
    }
  },
  mounted() 
  {
    this.loadBills();
    this.loadBlockedBills();
    this.loadClosingBills(false);

    var location = document.querySelector('#location').getAttribute('value');

    socket.on('private-bill-created.' + location + ':App\\Events\\BillCreated', function (bill) {
      this.loadBills();
    }.bind(this));

    socket.on('private-bill-closing.' + location + ':App\\Events\\BillClosing', function (bill) {
      this.loadClosingBills(true);
      this.loadBlockedBills();
      this.loadBills();
    }.bind(this));

    socket.on('private-bill-closed.' + location + ':App\\Events\\BillClosed', function (result) {
      this.loadBills();
      this.loadBlockedBills();
      this.loadClosingBills(true);
    }.bind(this));
  },
  methods: {
    loadBills()
    {
      this.loadingBills = true;
      this.bills = false;
      this.$http.get('home/bills/opened').then(function (response) {
        var data = response.data;
        this.bills = data;
        this.populateTableNames();
        this.loadingBills = false;
      });
    },
    loadBlockedBills()
    {
      this.loadingBills = true;
      this.bills = false;
      this.$http.get('home/bills/disabled').then(function (response) {
        var data = response.data;
        this.billsDisabled = data;
        this.populateTableNames();
        this.loadingBills = false;
      });
    },
    loadClosingBills(alert = true)
    {
      this.loadingBills = true;
      this.billsClosing = false;
      this.$http.get('home/bills/closing').then(function (response) {
        var data = response.data;
        this.billsClosing = data;
        this.populateTableNames();
        this.loadingBills = false;
        if (alert && data.length > 0) {
          this.alertClosingBill();
        }
        this.bindClosingBills();
      });
    },
    loadModalBill(bill_id)
    {
      this.showModalBill = false;
      this.modalBillId = bill_id;
      this.showModalBill = true;
    },
    alertClosingBill()
    {
      for(var o in this.billsClosing){
        if(!this.alertClosingBills.includes(this.billsClosing[o].id)){
          this.printClosingBill(this.billsClosing[o]);
        }
      }
      window.swRegister.showNotification('Conta a Encerrar', 'Solicitação de encerramento de contas!');
      var audio = document.getElementById('alertOrder');
      if (!document.hasFocus()) {
        audio.play();
      }
    },
    bindClosingBills()
    {
      for(var o in this.billsClosing) {
        this.alertClosingBills.push(this.billsClosing[o].id)
      }
    },
    populateTableNames()
    {
      for(var b in this.bills){
        var bill = this.bills[b]
        this.$set(this.tableNames, bill.id, {name: bill.table.name, alias: bill.table.alias});
        this.$set(this.showTableNameInputs, bill.id, false);
      }
      for(var cb in this.billsDisabled){
        var disabledBill = this.billsDisabled[cb]
        this.$set(this.disabledTableNames, disabledBill.id, {name: disabledBill.table.name, alias: disabledBill.table.alias});
      }
      for(var cb in this.billsClosing){
        var closingBill = this.billsClosing[cb]
        this.$set(this.closingTableNames, closingBill.id, {name: closingBill.table.name, alias: closingBill.table.alias});
      }
    },
    changeTableName(bill_id)
    {
      this.$set(this.showTableNameInputs, bill_id, true);
    },
    closeChangeTableName(bill_id)
    {
      this.$set(this.showTableNameInputs, bill_id, false);
    },
    saveTableName(bill_id)
    {
      this.closeChangeTableName(bill_id);
      this.$http.post('/home/table/changename/' + bill_id, {name: this.tableNames[bill_id].name})
      .then(
        function(response){
          if(response.body.success == true){
            functions.showSuccessToast(response.body.message);
          }else{
            functions.showErrorToast(response.body.message);
          }
        },
        function(responseError){
          functions.showErrorToast("Erro ao tentar alterar nome da mesa.");
        }
      );
    },
    printClosingBill(bill)
    {
      if(this.config.printer_name && this.config.printer_name != '' && this.config.printer_ip && this.config.printer_ip != ''){
        if (qz.websocket.isActive()) {
          qz.print(
            qz.configs.create(this.config.printer_name, { encoding: 'Cp850' }),
            functions.prepareClosingBillToPrint(bill)
          ).then(function(e) {
          }).catch(function(e){
            console.log(e)
            alert("Você possui comandas à encerrar, mas não foi possível imprimí-las. Configure a impressora e tente novamente.");
          });
        }
      }
    },
    errorImage(e)
    {
      e.target.src = 'https://via.placeholder.com/500x500?text=Erro+Foto'
    }
  },
  components: {
    'Modal': Modal
  }
}
</script>

<style lang="scss" scoped>
#dashboard {
  h3 {
    margin-top: 0.2em;
  }

  .has_paid{
    position: absolute;
    top: 5px;
    left: 5px;
    font-weight: bold;
  }

  .edit-table-name {
    cursor: pointer;

    input {
      text-align: center;
      font-size: 1em;
      font-weight: bold;
      width: 100%;
    }

    button{
      margin-top: 0.5em;
      width: 50%;
      clear: both;
    }
  }
}

@media (max-width: 992px) {
  #dashboard{
    .table-object{
      height: 290px;
    }
  }
}

@media (max-width: 768px) {

  #dashboard{
    .table-object{
      height: 290px;
    }
  }
}

@media (max-width: 400px) {
  #dashboard{
    .table-object{
      height: auto;
    }
  }
}
</style>
