<template>
  <transition name="modal">
    <div class="modal mask" id="modalBill">

      <div class="modal-dialog" role="document">

        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" v-on:click="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{ bill.table.name }}</h4>
          </div>

          <div class="modal-body">

            <div class="row">

            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn pull-right btn-danger" v-on:click="closeModal()">Fechar</button>
          </div>

        </div>

        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Aguarde, carregando</h4>
          </div>
          <div class="modal-body">
            <div class="loading-modal">
              <i class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
          </div>
        </div>

      </div>

    </div>
  </transition>
</template>

<script>

var functions = require('../../functions');
var socketConnection = require('../../socket/socket_connection.js');
var socket = socketConnection.socket;

export default{
  props: [],
  data: function() {
    return {

    }
  },
  mounted: function() {

  },
  methods: {
    closeModal: function() {
      this.$emit('close')
    }
  },
  watch: {

  }
}
</script>
