<template>
    <div>
        <div class="col-xs-4">
            <div class="form-group photo-upload">
            <label>
                Imagem
            </label>
            <div id="guillotine">
                <img v-if="img" :src="img" />
                <img v-else :src="'https://via.placeholder.com/' + width + 'x' + height" />
            </div>
            <span v-if="loading" class='loading'><i class="fa fa-spinner fa-spin fa-3x"></i></span>
            <label class="btn btn-default" @click.stop.prevent="uploadTmpPhoto">
                Upload <input id="uploadPhoto" type="file" name="tmp_photo" hidden />
            </label>
            <p class="help-block">Imagens devem ter tamanho padrão 500 x 500</p>
            </div>
            <input v-if="imgUrl" id="photo" type="hidden" name="photo" :value="imgUrl" />
        </div>

        <myUpload v-model="show" :width="width" :height="height" 
            @crop-success="cropSuccess"
            @crop-upload-success="cropUploadSuccess"
            @crop-upload-fail="cropUploadFail"
            lang-type="pt-br"
            :headers="headers"
            :noCircle="true"
            :url="url" img-format="png"></myUpload>
    </div>

</template>

<script>
import myUpload from 'vue-image-crop-upload';

export default{
  props: ['width', 'height', 'image', 'url'],
  components: {
      myUpload
  },
  data() {
      return {
          loading: false,
          show: false,
          img: null,
          imgUrl: null,
          headers: {
                'Authorization': 'Basic YXBpOnBhc3N3b3Jk',
                'X-CSRF-Token': document.querySelector('#token').getAttribute('value'),
          }
      }
  },
  mounted()
  {
      if(this.image){
        this.img = this.image
      }
  },
  methods: {
      uploadTmpPhoto()
      {
          this.show = !this.show;
      },
      cropSuccess(imgDataUrl, field)
      {
          this.img = imgDataUrl;
      },
      cropUploadSuccess(response)
      {
          this.imgUrl = response.path;
      },
      cropUploadFail()
      {
      }
  }
}

</script>

<style lang="scss" scoped>

</style>