<template>
  <transition name="modal">
    <div class="modal mask" id="modalBillNew">

      <div class="modal-dialog" role="document">
        <div class="modal-content" v-if="pre_order && loading == false">

          <div class="modal-header">
            <button type="button" class="close pull-right" @click="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title pull-left" id="myModalLabel">
              Pedido Pré-Pago
            </h4>
          </div>

          <div class="modal-body">

            <div class="row" v-if="pre_order.user">

              <div class="col-xs-4 col-md-4">
                <div class="bill-user">
                  <img width="100" height="100" :src="pre_order.user.photo"/>
                </div>
              </div>

              <div class="col-xs-4 col-md-8">
                <div class="info">
                  <span>{{ pre_order.user.name }}</span>
                  <span>Consumo: {{ formatCurrency(pre_order.cache_total) }}</span>

                  <p class="hidden-xs">
                    Nacionalidade: {{ pre_order.user.country }}<br/>
                    Horário de Compra: {{ pre_order.created_at }}<br/>
                    Bandeira: {{ pre_order.card_flag }}<br/>
                    Código da Transação: {{ pre_order.transaction_code }}<br/>
                    Cielo Payment Id: {{ pre_order.cielo_payment_id }}
                  </p>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="bill-orders">
                  <h4>Produtos</h4>
                  <ul class="list-group" v-if="orders.length > 0">
                    <li class="list-group-item" v-for="o in orders" v-if="o.status != 'trash'" :key="o.id">
                      <div class="order-info-resume">
                        <span v-if="o.is_weight_price == 1">
                          <b>#{{ o.id }}: </b>
                          <b v-if="o.product.code != ''">{{ o.product.code }} -</b>
                          <b v-else>{{ o.product_id }} -</b>
                          <b>{{ o.product.name }} - (peso: {{ o.order_weight }}g)</b>
                          - {{ formatCurrency(o.cache_price) }}
                        </span>
                        <span v-else>
                          <b>#{{ o.id }}: </b>
                          <b v-if="o.product.code != ''">{{ o.product.code }} -</b>
                          <b v-else>{{ o.product.id }} -</b>
                          <b>{{ o.product.name }}</b>- {{ formatCurrency(o.cache_price) }}
                        </span>
                      </div>
                      <div class="order-info-complete" v-if="showCollapsedInfo[o.id] == true">
                        <b>Quantidade: {{ o.quant }}</b><br />
                        <br />
                        <b v-if="o.observation">Observação: {{ o.observation }}</b>
                        <div v-if="o.product.groups">
                          <ul v-for="group in o.product.groups" :key="group.id">
                            <li class="group-name">
                              {{group.name}}
                            </li>
                            <li v-for="i in group.items" :key="i.id">
                              {{ i.item.name }}<i v-if="i.quant > 1"> - ({{ i.quant }})</i>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <a rel="tooltip" class="btn btn-success open-info hidden-xs" v-on:click.stop.prevent="showInfo(o.id)">
                        <i v-if="showCollapsedInfo[o.id] == false" class="fa fa-info"></i>
                        <i v-if="showCollapsedInfo[o.id] == true" class="fa fa-chevron-up"></i>
                      </a>
                    </li>
                  </ul>
                  <h4 class="text-center" v-if="orders.length == 0">Nenhum pedido registrado.</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn pull-right btn-danger" @click="closeModal()">Fechar</button>
          </div>
        </div>
        <div class="modal-content" v-else>
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Aguarde, carregando</h4>
          </div>
          <div class="modal-body">
            <div class="loading-modal">
              <i class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </transition>
</template>

<script>

var functions = require('../../functions');
var socketConnection = require('../../socket/socket_connection.js');
var socket = socketConnection.socket;

export default{
  props: ['preOrderId'],
  data: function() {
    return {
      pre_order_id: this.preOrderId,
      pre_order: null,
      orders: null,
      showCollapsedInfo: [],
      destinyBill: null,
      loading: false,
    }
  },
  mounted: function() {
    this.loading = true;
    this.loadPreOrder(this.pre_order_id);
  },
  methods: {
    loadPreOrder(pre_order_id){
      if(this.pre_order == null){
        this.pre_order = false;
      }
      if(pre_order_id){
        this.$http.get('pre-orders/' + pre_order_id).then(function (response) {
          var data = response.data;
          this.pre_order = data;
          this.orders = [];
          if(this.pre_order.products){
            this.orders = this.pre_order.products.filter(function(el, i, array) {
              return array[i].status !== "trash";
            });
          }
          this.populateCollapsedInfo();
          this.loading = false;
        });
      }
    },
    populateCollapsedInfo(){
      for(var i = 0; i < this.orders.length; i++){
        this.$set(this.showCollapsedInfo, this.orders[i].id, false);
      }
    },
    showInfo(order_id){
      if(this.showCollapsedInfo[order_id] == false){
        this.$set(this.showCollapsedInfo, order_id, true);
      }else{
        this.$set(this.showCollapsedInfo, order_id, false);
      }
    },
    closeModal: function() {
      this.$emit('close')
    },
    formatCurrency: functions.formatCurrency
  },
}
</script>

<style lang="scss" scoped>
// -- Modal Bill -- //
#modalBill {
  display: block;

  &.mask{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .loading-modal {
    width: 100%;
    text-align: center;
  }

  .modal-body{
    max-height: calc(100vh - 210px);
  }

  .info {
    width: 100%;
    float: left;

    span {
      display: block;
      font-weight: bold;
      font-size: 1.3em;
    }
    p {
      display: block;
      font-size: 1.1em;
    }
  }

  .bill-user {
    img {
      margin: 0px auto;
      display: block;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
  }

  .bill-orders {

    .panel-body{
      max-height: 16em;
      overflow-y: auto;
    }

    .order-info-resume {
      width: 100%;
      float: left;
    }

    .order-info-complete {
      float: left;
      width: 100%;
    }

    .list-group-item {
      display: inline-block;
      width: 100%;
      position: relative;
    }

    button, a {
      position: absolute;
      right: 3em;
      padding: 0.1em 0.4em;

      &.submit {
        position: inherit;
      }

      &.close-info {
        right: 3em;
        display: none;
      }

      &.cancel {
        right: 0.9em;
      }

      i {
        width: 1em;
        height: 1em;
      }
    }

  }
}

@media (max-width: 400px) {
  #modalBill{
    .info{
      text-align: center;
    }
    .modal-body{
      max-height: 75vh;
    }
  }
}

@media (max-height: 565px){

  #modalBill{
    .bill-orders{
      display: none;
    }
  }

}
</style>
