<template>
  <div>

    <div class="filters">
      <div class="col-xs-4">
        <div class="form-group">
          <label>Limite</label>
          <select @change="setFilter()" v-model="filterLimit" class="form-control selectpicker" name="limit">
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
          </select>
        </div>
      </div>
      <div class="col-xs-4">
        <label>Status</label>
        <select @change="setFilter()" v-model="filterStatus" class="form-control selectpicker" name="status">
          <option value="">Selecione...</option>
          <option value="opened">Abertas</option>
          <option value="closing">Encerrando</option>
          <option value="closed">Encerradas</option>
        </select>
      </div>
      <div class="col-xs-4">
        <label>Período</label>
        <select @change="setFilter()" v-model="filterPeriod" class="form-control selectpicker" name="period">
          <option value="">Selecione...</option>
          <option value="1">Últimas 24 horas</option>
          <option value="7">Últimos 7 dias</option>
          <option value="30">Últimos 30 dias</option>
        </select>
      </div>
    </div>

    <form id="search">
      <input name="query" v-model="searchQuery" placeholder="Digite um termo para busca. Ex: Nome, Data..">
    </form>

    <table class="table table-striped header-fixed" v-if="data != false">
      <thead>
        <tr>
          <th v-for="(k, key) in columns" @click="sortBy(key)" :class="{ 'active': sortKey == key, 'hidden-xs': k.hidden_xs == true }" :key="key">
          {{ k.label | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
          </th>
          <th>
            Ações
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(entry, index) in filteredData" :class="{ disabled: entry['status'] == 'disabled' }">
          <td v-for="(k, key) in columns" :class="{'hidden-xs': k.hidden_xs == true }">
            <div v-if="k.type == 'string'">
              <img v-if="key == 'photo'" :src="entry[key]" style="border-radius: 50%; width: 80px;" />
              <span v-else v-html="entry[key]"></span>
            </div>
            <div v-if="k.type == 'float'">
              <span><b>{{ formatCurrency(entry[key]) }}</b></span>
            </div>
          </td>
          <td>
            <a class="btn btn-default has-popover" :data-content="'Visualizar Conta'" @click="openPreOrderModal(entry['id'])">
            <i class="fa fa-search"></i>
            </a>
          </td>
        </tr>
    </tbody>
  </table>

  <div class="loading-data" v-else>
    <span>Aguarde, carregando...</span>
  </div>

  <div class="no-data" v-if="data && data.objects.length == 0">
    <span>Não há pedidos disponíveis.</span>
  </div>
  <PreOrderModal :preOrderId="modalPreOrderId" v-if="showModalPreOrder" @close="showModalPreOrder = false"></PreOrderModal>
</div>

</template>

<script>

var functions = require('../../functions');
import PreOrderModal from './PreOrderModal';

export default{
  props: ['url'],
  data: function() {

    return {
      data: false,
      unsearchableKey: '',
      columns: '',
      modelName: '',
      sortKey: '',
      sortOrders: '',
      searchQuery: '',
      modalPreOrderId: false,
      showModalPreOrder: false,
      filterLimit: 50,
      filterStatus: '',
      filterPeriod: ''
    }
  },
  mounted(){
    this.getTableData(this.url)
  },
  methods: {
    getTableData(url){
      this.data = false;
      this.$http.get(url).then(function(response){
        var data = response.data
        this.data = data
        this.unsearchableKey = data.unsearchableKey
        this.columns = data.columns
        this.modelName = data.model

        var sortOrders = {}
        for(var key in data.columns){
          sortOrders[key] = 1
        }
        this.sortOrders = sortOrders
      });

    },
    setFilter(){
      var url = this.url + '?limit=' + this.filterLimit + '&status=' + this.filterStatus + '&period=' + this.filterPeriod;
      this.getTableData(url);
    },
    sortBy(key) {
      this.sortKey = key
      this.$set(this.sortOrders, key, this.sortOrders[key] * -1);
    },
    enable(index){
      var entry = this.filteredData[index]

      if(entry.status == 'enabled'){entry.status = 'disabled';}else{entry.status = 'enabled';}
      this.$set(this.data.objects, index, entry);
      this.$forceUpdate()

      this.$http.put(this.modelName + '/' + entry.id + '/enable').then(function (response) {
        if(response.data.success == true){
          functions.showSuccessToast(response.data.message);
          this.getTableData(this.url)
        }else{
          if(entry.status == 'enabled'){entry.status = 'disabled';}else{entry.status = 'enabled';}
          this.$set(this.data.objects, index, entry);
          this.$forceUpdate()
          functions.showErrorToast(response.data.message);
        }
      }, function(response){
        if(entry.status == 'enabled'){entry.status = 'disabled';}else{entry.status = 'enabled';}
        this.$set(this.data.objects, index, entry);
        this.$forceUpdate()
        functions.showErrorToast("Erro ao processar comando.");
      });
    },
    processActionButton(url, isAsync){
      if(isAsync){
        this.$http.put(url).then(function(response){
          var data = response.data;
          if(data.success == true){
            functions.showSuccessToast(data.message);
            this.getTableData(this.url)
          }else{
            functions.showErrorToast(data.message);
          }
        },function(responseError){
          functions.showErrorToast("Erro ao processar sua requisição.");
        });
      }else{
        window.location.href = url
      }
    },
    openPreOrderModal(id){
      this.modalPreOrderId = id;
      this.showModalPreOrder = true;
    },
    formatCurrency: functions.formatCurrency
  },
  computed: {
    filteredData: function () {
      var sortKey = this.sortKey
      var filterKey = this.searchQuery && this.searchQuery.toLowerCase()
      var order = this.sortOrders[sortKey] || 1
      var data = this.data.objects
      var unsearchableKey = this.unsearchableKey
      if (filterKey) {
        data = data.filter(function (row) {
          return Object.keys(row).some(function (key) {
            if(unsearchableKey != key){
              return String(row[key]).toLowerCase().indexOf(filterKey) > -1
            }
          })
        })
      }
      if (sortKey) {
        data = data.slice().sort(function (a, b) {
          a = a[sortKey]
          b = b[sortKey]
          return (a === b ? 0 : a > b ? 1 : -1) * order
        })
      }
      return data
    }
  },
  filters: {
    capitalize: function (str) {
      return str.charAt(0).toUpperCase() + str.slice(1)
    }
  },
  components: {
    PreOrderModal
  }
}
</script>

<style lang="scss" scoped>
$blue: #014687;
#search{

  input{
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: none;
    border: thin solid #ccc;
    font-size: 1.3em;
  }

}

.table{
  overflow: hidden;
  border-radius: 0.6em;
  margin-top: 20px;

  a{
    &:hover{
      text-decoration: none !important;
    }
  }

  .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
  }

  .arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
  }

  .arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
  }

  thead{
    border: thin solid #ccc;

    th{
      font-size: 1.3em;
      text-align: center;
      background-color: $blue;
      color: #fff;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &.active{
        color: $blue;

        .arrow {
          opacity: 1;
          color: $blue;
          &.dsc{
            border-top: 4px solid $blue;
          }
          &.asc{
            border-bottom: 4px solid $blue;
          }
        }
      }
    }

    th, td {
      min-width: 120px;
      padding: 10px 20px;
    }
  }

  tr{

    td{
      position: relative;
      padding: 5px 10px;
      background-color: #f9f9f9;
      text-align: center;
      vertical-align: middle !important;
      font-size: 12px;

      span{
        font-size: 1.2em;
        line-height: 4em;
      }

      .panel-group{
        margin: 0;
      }

      .panel-heading{
        padding: 0;

        a{
          padding: 10px 15px;
          width: 100%;
          height: 100%;
          display: block;

        }

      }

      ul{
        list-style: none;

        li{
          padding: 0;
          font-size: 0.7em;

          a{
            padding: 10px 15px;
            width: 100%;
            height: 100%;
            display: block;

          }

        }

      }
    }

    &.disabled{
      color: #aaa;
      text-decoration: line-through;

      .popover{
        color: #000;
      }

    }
  }
}
</style>
