<template>
    <div>

        <div class="row">
            <div class="col-md-12">
                
                <form class="form-inline" v-if="!readonly">
                    <div class="form-group">
                        <input required placeholder="Adicionar observação" type="text" class="form-control" name="observation" v-model="observation" />
                    </div>

                    <button @click.stop.prevent="save()" class="btn btn-success">Adicionar</button>
                </form>

                <table class="table table-striped header-fixed mt-4" v-if="observations && observations.length > 0">
                    <thead>
                        <tr>
                        <th>Observação</th>
                        <th v-if="!readonly">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(o, c) in observations" :key="c">
                        <td>
                            <div>
                            <span>
                                {{o}}
                            </span>
                            </div>
                        </td>
                        <td v-if="!readonly">
                            <a href="" @click.stop.prevent="remove(c)" class="btn btn-danger"><i class="fa fa-close"></i></a>
                        </td>
                        </tr>
                    </tbody>
                    </table>
                    <div class="no-data" v-else>
                        <b>Produto não possui observações cadastradas.</b>
                    </div>
            </div>
        </div>

    </div>
</template>

<script>
var functions = require('../../functions');
export default{
    props: ['product', 'readonly'],
    data () {
        return {
            observations: [],
            observation: '',
        }
    },
    mounted (){
        this.list();
    },
    methods: {
        list()
        {
            this.$http.get('products/observations/' + this.product).then((response) => {
                var data = response.data;
                this.observations = data.observations;
            });
        },
        save()
        {
            if(this.observation && this.observation != ''){
              var observation = this.observation;
              this.observation = '';
              this.$http.post('products/observations/' + this.product, {observation: observation}).then((response) => {
                  var data = response.data;
                  this.observations = data.observations;
                  functions.showSuccessToast('Observação cadastrada!');
              });
            }else{
              functions.showErrorToast('O campo de observação não pode estar vazio.');
            }
        },
        remove(k)
        {
            console.log(k)
            this.$http.put('products/observations/' + this.product, {key: k}).then((response) => {
                var data = response.data;
                this.observations = data.observations;
                functions.showSuccessToast('Observação removida!');
            });
        }
  }
}

</script>

<style scoped lang="scss">
$blue: #014687;
.loading-data, .no-data{
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}

.table{
  overflow: hidden;
  border-radius: 0.6em;
  margin-top: 20px;

  a{
    &:hover{
      text-decoration: none !important;
    }
  }

  .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
  }

  .arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
  }

  .arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
  }

  thead{
    border: thin solid #ccc;

    th{
      font-size: 1.3em;
      text-align: center;
      background-color: $blue;
      color: #fff;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &.active{
        color: $blue;

        .arrow {
          opacity: 1;
          color: $blue;
          &.dsc{
            border-top: 4px solid $blue;
          }
          &.asc{
            border-bottom: 4px solid $blue;
          }
        }
      }
    }

    th, td {
      min-width: 120px;
      padding: 10px 20px;
    }
  }

  tr{

    td{
      position: relative;
      padding: 5px 10px;
      background-color: #f9f9f9;
      text-align: center;
      vertical-align: middle !important;
      font-size: 12px;

      span{
        font-size: 1.2em;
        line-height: 4em;
      }

      .panel-group{
        margin: 0;
      }

      .panel-heading{
        padding: 0;

        a{
          padding: 10px 15px;
          width: 100%;
          height: 100%;
          display: block;

        }

      }

      ul{
        list-style: none;

        li{
          padding: 0;
          font-size: 0.7em;

          a{
            padding: 10px 15px;
            width: 100%;
            height: 100%;
            display: block;

          }

        }

      }
    }

    &.disabled{
      color: #aaa;
      text-decoration: line-through;

      .popover{
        color: #000;
      }

    }
  }
}
</style>