<template>
  <div>
    <div v-if="!readonlyexternalcodes" class="row">
      <div class="col-md-8">
        <div class="form-group">
          <input type="text" v-model="groupName" class="form-control" placeholder="Adicionar Agrupamento de Itens" />
        </div>
      </div>
      <div class="col-md-4">
          <button @click.stop.prevent="saveGroup()" class="btn btn-primary btn-block">Adicionar</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped header-fixed" v-if="groups && groups.length > 0">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Mínimo</th>
              <th>Máximo</th>
              <th v-if="!readonlyexternalcodes">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="g in groups" :key="g.id">
              <td>
                <div>
                  <span>
                    <a href="" @click.stop.prevent="openGroupModal(g)">{{g.name}}</a>
                  </span>
                </div>
              </td>
              <td>
                <div>
                  <span>{{g.min}}</span>
                </div>
              </td>
              <td>
                <div>
                  <span>{{g.max}}</span>
                </div>
              </td>
              <td v-if="!readonlyexternalcodes">
                <a @click="sendToTrash(g.id)"
                  class="btn btn-danger has-popover"
                  :data-content="'Remover ' + g.name">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="no-data" v-else>
          <b>Produto não possui grupos de itens cadastrados.</b>
        </div>
      </div>
    </div>

    <GroupModal :readonlyexternalcodes="readonlyexternalcodes == 1 ? true : false" :product="product" 
      :group="selectedGroup" v-if="showModalGroup" @save="listGroups()" @close="showModalGroup = false"></GroupModal>
  </div>
</template>

<script>
import GroupModal from './ProductGroupModal.vue';
var functions = require('../../functions');

export default{
  props: ['product', 'readonlyexternalcodes'],
  components: {
    GroupModal
  },
  data () {
    return {
      groups: [],
      groupName: '',
      selectedGroup: null,
      showModalGroup: false
    }
  },
  mounted (){
    this.listGroups();
  },
  methods: {
    listGroups(){
      this.$http.get('products/groups/' + this.product).then(function (response) {
        var data = response.data;
        this.groups = data.groups;
      });
    },
    saveGroup(){
      this.$http.post('products/groups/' + this.product, {name: this.groupName}).then(function (response) {
        var data = response.data;
        if(data.success){
          this.groups.push(data.group);
          this.groupName = '';
          functions.showSuccessToast('Grupo cadastrado!');
        }else{
          Object.keys(data.message).map(k => {
            functions.showErrorToast(data.message[k][0]);
          });
        }
      });
    },
    openGroupModal(group){
      this.selectedGroup = group;
      this.showModalGroup = true;
    },
    sendToTrash(id){
      var r = confirm('Deseja realmente remover este agrupamento?');
      if(r === true){
        this.$http.delete('products/groups/' + this.product + '/' + id + '/destroy').then(function(response) {
          if(response.data.success == true){
            functions.showSuccessToast(response.data.message);
            this.listGroups();
          }else{
            functions.showErrorToast(response.data.message);
          }
        }, function(err) {
          functions.showErrorToast('Erro de requisição.');
        })
      }
    },
  }
}

</script>

<style lang="scss" scoped>
$blue: #014687;
.loading-data, .no-data{
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}

.table{
  overflow: hidden;
  border-radius: 0.6em;
  margin-top: 20px;

  a{
    &:hover{
      text-decoration: none !important;
    }
  }

  .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
  }

  .arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
  }

  .arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
  }

  thead{
    border: thin solid #ccc;

    th{
      font-size: 1.3em;
      text-align: center;
      background-color: $blue;
      color: #fff;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &.active{
        color: $blue;

        .arrow {
          opacity: 1;
          color: $blue;
          &.dsc{
            border-top: 4px solid $blue;
          }
          &.asc{
            border-bottom: 4px solid $blue;
          }
        }
      }
    }

    th, td {
      min-width: 120px;
      padding: 10px 20px;
    }
  }

  tr{

    td{
      position: relative;
      padding: 5px 10px;
      background-color: #f9f9f9;
      text-align: center;
      vertical-align: middle !important;
      font-size: 12px;

      span{
        font-size: 1.2em;
        line-height: 4em;
      }

      .panel-group{
        margin: 0;
      }

      .panel-heading{
        padding: 0;

        a{
          padding: 10px 15px;
          width: 100%;
          height: 100%;
          display: block;

        }

      }

      ul{
        list-style: none;

        li{
          padding: 0;
          font-size: 0.7em;

          a{
            padding: 10px 15px;
            width: 100%;
            height: 100%;
            display: block;

          }

        }

      }
    }

    &.disabled{
      color: #aaa;
      text-decoration: line-through;

      .popover{
        color: #000;
      }

    }
  }
}
</style>
