<template>
  <div>
    <div class="filters">
      <div class="col-xs-4">
        <div class="form-group">
          <label>Limite</label>
          <select @change="setFilter()" v-model="filterLimit" class="form-control selectpicker" name="limit">
            <option value="0">
              Todos
            </option>
            <option value="50">
              50
            </option>
            <option value="100">
              100
            </option>
            <option value="200">
              200
            </option>
          </select>
        </div>
      </div>
      <div class="col-xs-4">
        <label>Status</label>
        <select @change="setFilter()" v-model="filterStatus" class="form-control selectpicker" name="status">
          <option value="">
            Selecione...
          </option>
          <option value="enabled">
            Ativado
          </option>
          <option value="disabled">
            Desativado
          </option>
        </select>
      </div>
      <div class="col-xs-4">
        <label>Categoria</label>
        <select @change="setFilter()" v-model="filterCategory" class="form-control selectpicker" name="period">
          <option value="">
            Selecione...
          </option>
          <option v-for="c in categories" :value="c.id">
            {{ c.name }}
          </option>
        </select>
      </div>
    </div>
    <form id="search">
      <input name="query" v-model="searchQuery" placeholder="Digite um termo para busca. Ex: 'Bebidas'">
    </form>
    <table class="table table-striped header-fixed" v-if="data != false">
      <thead>
        <tr>
          <th v-for="(k, key) in columns" :key="key"
          @click="sortBy(key)"
          :class="{ 'active': sortKey == key, 'hidden-xs': k.hidden_xs == true }">
          {{ k.label | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
        <th v-if="hasEditAction == true || hasDisableAction == true">
          Ações
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(entry, index) in filteredData" :class="{ disabled: entry['status'] == 'disabled' }" :key="index">
        <td v-for="(k, key) in columns" :class="{'hidden-xs': k.hidden_xs == true }" :key="key">
          <div v-if="k.type == 'string'">
            <span v-html="entry[key]"></span>
          </div>
          <div v-if="k.type == 'select'">
            <select class="form-control" :id="entry['id']" name="category" @change="updateProductCategory($event)">
              <option value="">Sem categoria</option>
              <option :selected="entry['category'] == c.id" :value="c.id" v-for="c in categories">{{c.name}}</option>
            </select>
          </div>
          <div v-if="k.type == 'image'">
            <img v-if="entry[key]" style="width: 50px; height: 50px;" :src="entry[key]"></img>
            <img v-else src="https://via.placeholder.com/50x50?text=Sem+Foto" />
          </div>
          <div v-if="k.type == 'array' && entry[key].length > 0">
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" :href="'#list-' + index">Ver Todos ({{ entry[key].length }})</a>
                </div>
                <div :id="'list-' + index" class="panel-collapse collapse">
                  <ul class="list-group">
                    <li class="list-group-item" v-for="o in entry[key]">
                      <a v-if="o.link != ''" :href="o.link" target="/blank" v-html="o.name"></a>
                      <span v-else v-html="o.name"></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td v-if="hasEditAction == true || hasDisableAction == true">
          <a v-show="hasEditAction == true" class="btn btn-default has-popover"
          :data-content="'Editar ' + entry['name']"
          :href="'/' + modelName + '/' + entry['id'] + '/edit'">
          <i class="fa fa-pencil"></i>
        </a>
        <a v-show="entry.has_action_button == true" class="btn btn-default has-popover"
          :data-content="'Gerar novo Token para ' + entry['name']"
          @click="processActionButton(entry.action_url, entry.is_action_asynchronous)">
          <i class="fa fa-refresh"></i>
        </a>
        <a v-if="hasDisableAction == true && entry['status'] == 'enabled'"
          class="btn btn-danger has-popover"
          @click="enable(index)"
          :data-content="'Desativar ' + entry['name']">
          <i class="fa fa-close"></i>
        </a>
      <a v-if="hasDisableAction == true && entry['status'] == 'disabled'"
        @click="enable(index)"
        class="btn btn-success has-popover"
        :data-content="'Ativar ' + entry['name']">
        <i class="fa fa-reply"></i>
      </a>
      <a @click="sendToTrash(index)"
        class="btn btn-danger has-popover"
        :data-content="'Remover ' + entry['name']">
        <i class="fa fa-trash"></i>
      </a>
  </td>
</tr>
</tbody>
</table>
<div class="loading-data" v-else>
  <span>Aguarde, carregando...</span>
</div>
<div class="no-data" v-if="data && data.objects.length == 0">
  <span>Não há registros disponíveis.</span>
</div>
</div>
</template>

<script>

var functions = require('../../functions');

export default{
  props: ['url', 'hasEditAction', 'hasDisableAction', 'categories'],
  data: function() {

    return {
      data: false,
      unsearchableKey: '',
      columns: '',
      modelName: '',
      sortKey: '',
      sortOrders: '',
      searchQuery: '',
      filterLimit: 0,
      filterStatus: '',
      filterCategory: ''
    }
  },
  mounted: function(){
    this.getTableData(this.url)
  },
  methods: {
    getTableData: function(url){
      this.data = false;

      this.$http.get(url).then(function(response){
        var data = response.data
        this.data = data
        this.unsearchableKey = data.unsearchableKey
        this.columns = data.columns
        this.modelName = data.model

        var sortOrders = {}
        for(var key in data.columns){
          sortOrders[key] = 1
        }
        this.sortOrders = sortOrders
      });

    },
    setFilter(){
      var url = this.url + '?limit=' + this.filterLimit + '&status=' + this.filterStatus + '&category=' + this.filterCategory;
      this.getTableData(url);
    },
    sortBy: function (key) {
      this.sortKey = key
      this.$set(this.sortOrders, key, this.sortOrders[key] * -1);
    },
    enable: function(index){
      var entry = this.filteredData[index]

      if(entry.status == 'enabled'){entry.status = 'disabled';}else{entry.status = 'enabled';}
      this.$set(this.data.objects, index, entry);
      this.$forceUpdate()

      this.$http.put(this.modelName + '/' + entry.id + '/enable').then(function (response) {
        if(response.data.success == true){
          functions.showSuccessToast(response.data.message);
          this.getTableData(this.url)
        }else{
          if(entry.status == 'enabled'){entry.status = 'disabled';}else{entry.status = 'enabled';}
          this.$set(this.data.objects, index, entry);
          this.$forceUpdate()
          functions.showErrorToast(response.data.message);
        }
      }, function(response){
        if(entry.status == 'enabled'){entry.status = 'disabled';}else{entry.status = 'enabled';}
        this.$set(this.data.objects, index, entry);
        this.$forceUpdate()
        functions.showErrorToast("Erro ao processar comando.");
      });
    },
    sendToTrash: function(index){
      var entry = this.filteredData[index];
      var r = confirm('Deseja realmente remover este produto?');
      if(r === true){
        this.$http.delete(this.modelName + '/' + entry.id + '/destroy').then(function(response) {
          if(response.data.success == true){
            functions.showSuccessToast(response.data.message);
            this.getTableData(this.url)
          }else{
            functions.showErrorToast(response.data.message);
          }
        }, function(err) {
          functions.showErrorToast('Erro de requisição.');
        })
      }
    },
    processActionButton: function(url, isAsync){
      if(isAsync){
        this.$http.put(url).then(function(response){
          var data = response.data;
          if(data.success == true){
            functions.showSuccessToast(data.message);
            this.getTableData(this.url)
          }else{
            functions.showErrorToast(data.message);
          }
        },function(responseError){
          functions.showErrorToast("Erro ao processar sua requisição.");
        });
      }else{
        window.location.href = url
      }
    },
    updateProductCategory(event){
      var category_id = event.target.value;
      var product_id = event.target.id
      if(category_id){
        this.$http.put('/products/' + product_id + '/update-category/' + category_id)
          .then(function(response){
            if(response.data.success == true){
              functions.showSuccessToast(response.data.message);
            }else{
              functions.showErrorToast(response.data.message);
            }
          });
      }else{
        functions.showErrorToast("Deve selecionar ao menos uma categoria para o produto.");
      }
    }
  },
  computed: {
    filteredData: function () {
      var sortKey = this.sortKey
      var filterKey = this.searchQuery && this.searchQuery.toLowerCase()
      var order = this.sortOrders[sortKey] || 1
      var data = this.data.objects
      var unsearchableKey = this.unsearchableKey
      if (filterKey) {
        data = data.filter(function (row) {
          return Object.keys(row).some(function (key) {
            if(unsearchableKey != key){
              return String(row[key]).toLowerCase().indexOf(filterKey) > -1
            }
          })
        })
      }
      if (sortKey) {
        data = data.slice().sort(function (a, b) {
          a = a[sortKey]
          b = b[sortKey]
          return (a === b ? 0 : a > b ? 1 : -1) * order
        })
      }
      return data
    }
  },
  filters: {
    capitalize: function (str) {
      return str.charAt(0).toUpperCase() + str.slice(1)
    }
  }
}
</script>

<style lang="scss" scoped>
$blue: #014687;
#search{

  input{
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: none;
    border: thin solid #ccc;
    font-size: 1.3em;
  }

}

.table{
  overflow: hidden;
  border-radius: 0.6em;
  margin-top: 20px;

  a{
    &:hover{
      text-decoration: none !important;
    }
  }

  .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
  }

  .arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
  }

  .arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
  }

  thead{
    border: thin solid #ccc;

    th{
      font-size: 1.3em;
      text-align: center;
      background-color: $blue;
      color: #fff;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &.active{
        color: $blue;

        .arrow {
          opacity: 1;
          color: $blue;
          &.dsc{
            border-top: 4px solid $blue;
          }
          &.asc{
            border-bottom: 4px solid $blue;
          }
        }
      }
    }

    th, td {
      min-width: 120px;
      padding: 10px 20px;
    }
  }

  tr{

    td{
      position: relative;
      padding: 5px 10px;
      background-color: #f9f9f9;
      text-align: center;
      vertical-align: middle !important;
      font-size: 12px;

      span{
        font-size: 1.2em;
        line-height: 4em;
      }

      .panel-group{
        margin: 0;
      }

      .panel-heading{
        padding: 0;

        a{
          padding: 10px 15px;
          width: 100%;
          height: 100%;
          display: block;

        }

      }

      ul{
        list-style: none;

        li{
          padding: 0;
          font-size: 0.7em;

          a{
            padding: 10px 15px;
            width: 100%;
            height: 100%;
            display: block;

          }

        }

      }
    }

    &.disabled{
      color: #aaa;
      text-decoration: line-through;

      .popover{
        color: #000;
      }

    }
  }
}
</style>
