<template>
  <transition name="modal">
    <div class="modal mask" id="modalProductGroup">

      <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content" v-if="group">
          <div class="modal-header">
            <button type="button" class="close pull-right" @click="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title pull-left" id="myModalLabel">
              <span>{{group.name}}</span>
            </h4>
          </div>

          <div class="modal-body">

              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#groupdata">Dados do Grupo</a></li>
                    <li><a data-toggle="tab" href="#itens">Itens</a></li>
                  </ul>
                </div>

                <div class="tab-content">

                  <div id="groupdata" class="tab-pane fade in active">
                    <div class="col-md-12">

                      <div class="row">

                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Nome* </label>
                            <input v-model="groupName" type="text" name="name" class="form-control" />
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Prefixo para os Itens</label>
                            <input v-model="groupPrefix" type="text" name="prefix" class="form-control" />
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Código Externo</label>
                            <input :readonly="readonlyexternalcodes" v-model="groupExternalId" type="text" name="prefix" class="form-control" />
                          </div>
                        </div>

                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Descrição </label>
                            <input v-model="groupDescription" type="text" name="description" class="form-control" />
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Mínimo*</label>
                            <input v-model="groupMin" type="number" name="min" class="form-control" />
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Máximo*</label>
                            <input v-model="groupMax" type="number" name="max" class="form-control" />
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Cálculo* </label>
                            <select v-model="groupFormula" class="form-control">
                              <option value="0">Somar Todos</option>
                              <option value="1">Somar e dividir por todos os itens</option>
                              <option value="2">Somar e dividir por todos os itens que tem preço</option>
                              <option value="3">Item com maior valor unitário</option>
                              <option value="4">Item com menor valor unitário</option>
                              <option value="5">Item com maior valor unitário e dividido por todos os itens</option>
                              <option value="6">Item com menor valor unitário e dividido por todos os itens</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-md-12">
                          <div class="checkbox">
                            <label>
                              <input v-model="groupStatus" value='enabled' type="checkbox" /> Ativo
                            </label>
                          </div>
                        </div>

                        <div class="col-md-12">
                          <button @click="saveGroup()" type="button" class="btn pull-left btn-primary" data-dismiss="modal">Salvar</button>
                        </div>

                      </div>

                    </div>

                  </div>

                  <div id="itens" class="tab-pane fade in">
                    <div class="col-md-12">

                      <div class="row" v-if="!showItemForm && !readonlyexternalcodes">
                        <div class="col-md-12">
                          <button class="btn btn-primary btn-lg add-item" @click.stop.prevent="showItemForm = true;">Adicionar Item</button>
                        </div>
                      </div>

                      <div class="row" v-if="showItemForm">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Nome*</label>
                            <input v-model="itemName" type="text" class="form-control" name="name" />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Descrição</label>
                            <input v-model="itemDescription" type="text" class="form-control" name="description" />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Preço</label>
                            <input v-money="money" v-model="itemPrice" type="text" name="price" class="form-control" />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Código de Referência</label>
                            <input :readonly="readonlyexternalcodes" v-model="itemExternalId" type="text" name="external_id" class="form-control" />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Código de Agrupamento de Composição</label>
                            <input :readonly="readonlyexternalcodes" v-model="itemGroupCompositionId" type="text" name="group_composition_id" class="form-control" />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="checkbox">
                            <label>
                              <input v-model="itemStatus" value='enabled' type="checkbox" /> Ativo
                            </label>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button class="btn btn-primary" @click.stop.prevent="saveItem();">Salvar</button>
                          <button class="btn btn-danger" @click.stop.prevent="closeItemForm()">Cancelar</button>
                        </div>
                      </div>

                      <div class="row">
                        <table class="table table-striped header-fixed" v-if="items && items.length > 0">
                          <thead>
                            <tr>
                              <th>Nome</th>
                              <th>Preço</th>
                              <th v-if="!readonlyexternalcodes">Ações</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-for="i in items" :key="i.id">
                              <td>
                                <div>
                                  <span>
                                    <a href="" @click.stop.prevent="loadItem(i)">{{i.name}}</a>
                                  </span>
                                </div>
                              </td>
                              <td>
                                <div>
                                  <span>R$ {{i.price}}</span>
                                </div>
                              </td>
                              <td v-if="!readonlyexternalcodes">
                                <a @click="sendToTrash(i.id)"
                                  class="btn btn-danger has-popover"
                                  :data-content="'Remover ' + i.name">
                                  <i class="fa fa-trash"></i>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="no-data" v-else>
                          <b>Grupo '{{group.name}}' não possui itens adicionais.</b>
                        </div>
                      </div>
                    </div>

                  </div>

              </div>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn pull-right btn-danger" v-on:click="closeModal()">Fechar</button>
            </div>
          </div>

        </div>

        <div class="modal-content" v-else>
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Aguarde, carregando</h4>
          </div>
          <div class="modal-body">
            <div class="loading-modal">
              <i class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </transition>
</template>

<script>
var functions = require('../../functions');
import {VMoney} from 'v-money'

export default{
  props: ['product', 'group', 'readonlyexternalcodes'],
  directives: {money: VMoney},
  data: function() {
    return {
      name: this.group.name,
      groupName: this.group.name,
      groupDescription: this.group.description,
      groupExternalId: this.group.external_id,
      groupPrefix: this.group.prefix,
      groupMin: this.group.min,
      groupMax: this.group.max,
      groupFormula: this.group.formula,
      groupStatus: (this.group.status == 'enabled') ? 'enabled' : false,
      itemName: '',
      itemDescription: '',
      itemPrice: 0,
      itemExternalId: '',
      itemGroupCompositionId: '',
      itemStatus: '',
      showItemForm: false,
      items: [],
      loading: false,
      money: {
        decimal: ',',
        thousands: '.',
        prefix: 'R$ ',
        suffix: '',
        precision: 2,
        masked: false
      }
    }
  },
  mounted: function() {
    this.loading = true;
    this.loadGroupItems();
  },
  methods: {
    loadGroupItems(){
      this.$http.get('products/groups/items/' + this.product + '/' + this.group.id).then(function (response) {
        var data = response.data;
        this.items = data.items;
      });
    },
    saveGroup(){
      this.$http.post('products/groups/' + this.product + '/' + this.group.id,
      {name: this.groupName, description: this.groupDescription, prefix: this.groupPrefix, min: this.groupMin,
        max: this.groupMax, external_id: this.groupExternalId, formula: this.groupFormula, status: this.groupStatus})
        .then(function (response) {
        var data = response.data;
        if(data.success){
          this.name = data.group.name;
          functions.showSuccessToast('Grupo editado!');
          this.$emit('save');
        }else{
          Object.keys(data.message).map(k => {
            functions.showErrorToast(data.message[k][0]);
          });
        }
      });
    },
    loadItem(item){
      this.selectedItem = item;
      this.itemName = item.name;
      this.itemDescription = item.description;
      this.itemPrice = item.price.toFixed(2);
      this.itemExternalId = item.external_id;
      this.itemStatus = (item.status == 'enabled') ? 'enabled' : false;
      this.itemGroupCompositionId = item.group_composition_id;
      this.showItemForm = true;
    },
    saveItem(){
      var itemPrice = (this.itemPrice) ? parseFloat(this.itemPrice.replace("R$ ", "").replace(".", "").replace(",", ".")) : null;
      var concatItemId = (this.selectedItem) ? '/' + this.selectedItem.id : '';
      this.$http.post('products/groups/items/' + this.product + '/' + this.group.id + concatItemId,
      {name: this.itemName, description: this.itemDescription, price: itemPrice, group_composition_id: this.itemGroupCompositionId,
      external_id: this.itemExternalId, status: this.itemStatus})
      .then(function(response){
        var data = response.data;
        if(data.success){
          functions.showSuccessToast('Item salvo!');
          this.loadGroupItems();
          this.closeItemForm();
        }else{
          functions.showErrorToast(data.message[k][0]);
        }
      });
    },
    sendToTrash(id){
      var r = confirm('Deseja realmente remover este item?');
      if(r === true){
        this.$http.delete('products/groups/items/' + this.product + '/' + this.group.id + '/' + id + '/destroy').then(function(response) {
          if(response.data.success == true){
            functions.showSuccessToast(response.data.message);
            this.loadGroupItems();
          }else{
            functions.showErrorToast(response.data.message);
          }
        }, function(err) {
          functions.showErrorToast('Erro de requisição.');
        })
      }
    },
    closeItemForm(){
      this.selectedItem = null;
      this.itemName = '';
      this.itemDescription = '';
      this.itemPrice = '';
      this.itemExternalId = '';
      this.itemStatus = '';
      this.showItemForm = false;
    },
    closeModal: function() {
      this.$emit('close')
    },
    formatCurrency: functions.formatCurrency
  }
}
</script>

<style lang="scss" scoped>
$blue: #014687;
.loading-data, .no-data{
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}
.add-item{
  margin: 0 auto;
  display: block;
  margin-top: 15px;
}

// -- Modal Bill -- //
#modalProductGroup {
  display: block;

  &.mask{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .loading-modal {
    width: 100%;
    text-align: center;
  }

  .modal-body{
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }

  .info {
    width: 100%;
    float: left;

    span {
      display: block;
      font-weight: bold;
      font-size: 1.3em;
    }
    p {
      display: block;
      font-size: 1.1em;
    }
  }

  .bill-user {
    img {
      margin: 0px auto;
      display: block;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
  }

  .bill-orders {

    .panel-body{
      max-height: 16em;
      overflow-y: auto;
    }

    .order-info-resume {
      width: 100%;
      float: left;
    }

    .order-info-complete {
      float: left;
      width: 100%;
    }

    .list-group-item {
      display: inline-block;
      width: 100%;
      position: relative;
    }

    button, a {
      position: absolute;
      right: 3em;
      padding: 0.1em 0.4em;

      &.submit {
        position: inherit;
      }

      &.close-info {
        right: 3em;
        display: none;
      }

      &.cancel {
        right: 0.9em;
      }

      i {
        width: 1em;
        height: 1em;
      }
    }

  }
}

.table{
  overflow: hidden;
  margin-top: 20px;

  a{
    &:hover{
      text-decoration: none !important;
    }
  }

  .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
  }

  .arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
  }

  .arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
  }

  thead{
    border: thin solid #ccc;

    th{
      font-size: 1.3em;
      text-align: center;
      background-color: $blue;
      color: #fff;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &.active{
        color: $blue;

        .arrow {
          opacity: 1;
          color: $blue;
          &.dsc{
            border-top: 4px solid $blue;
          }
          &.asc{
            border-bottom: 4px solid $blue;
          }
        }
      }
    }

    th, td {
      min-width: 120px;
      padding: 10px 20px;
    }
  }

  tr{

    td{
      position: relative;
      padding: 5px 10px;
      background-color: #f9f9f9;
      text-align: center;
      vertical-align: middle !important;
      font-size: 12px;

      span{
        font-size: 1.2em;
        line-height: 4em;
      }

      .panel-group{
        margin: 0;
      }

      .panel-heading{
        padding: 0;

        a{
          padding: 10px 15px;
          width: 100%;
          height: 100%;
          display: block;

        }

      }

      ul{
        list-style: none;

        li{
          padding: 0;
          font-size: 0.7em;

          a{
            padding: 10px 15px;
            width: 100%;
            height: 100%;
            display: block;

          }

        }

      }
    }

    &.disabled{
      color: #aaa;
      text-decoration: line-through;

      .popover{
        color: #000;
      }

    }
  }
}

@media (max-width: 400px) {
  #modalProductGroup{
    .info{
      text-align: center;
    }
    .modal-body{
      max-height: 75vh;
    }
  }
}

@media (max-height: 565px){

  #modalProductGroup{
    .bill-orders{
      display: none;
    }
  }

}
</style>
