<template>

</template>

<script>

var functions = require('../../functions');
var Modal = require('./Modal.vue');
var socketConnection = require('../../socket/socket_connection.js');
var socket = socketConnection.socket;

export default{
  data: function() {
    return {

    }
  },
  mounted: function() {

  }
}
</script>
