<template>
  <div id="sidebar">

    <div class="btn-collapse-sidebar">
      <button class="btn btn-primary show-order-bar" v-cloak>
        <span v-if="orders.length > 0" class="quant-orders">{{ orders.length }}</span>
        <i v-if="orders.length > 0" class="fa fa-exclamation-circle"></i>
        <i v-if="orders.length == 0" class="fa fa-bell"></i>
      </button>
      <button class="btn btn-primary hide-order-bar">
        <i class="fa fa-chevron-right"></i>
      </button>
    </div>

    <div id="sidebar-wrapper" class="animated slideInRight">
      <div id="listOrders" class="panel panel-default">
        <div class="panel-heading">
          <h4>Pedidos</h4>

          <div v-if="sectors" class="form-sector">
            <form method="post" action="">
              <div class="form-group">
                <select v-model="sectorFilter" name="sector_filter"
                class="form-control" id="selectSectorFilter" title="Setor de Preparo" v-on:change="loadOrders">
                <option value="0"><b>Todos</b></option>
                <option v-for="t in sectors" :value="t.id">{{ t.name }}</option>
              </select>
            </div>
          </form>
        </div>

      </div>
      <div class="panel-body" v-cloak>

        <div class="loading" v-if="loading">
          <i class="fa fa-spinner fa-spin"></i>
        </div>

        <div class="list-group" v-if="preorders.length > 0">
          <div v-for="(o, k) in preorders">
            <div v-if="o" class="list-group-item clearfix">
              <a class="open-table" @click="loadModalPreOrder(o.id)">
                <h4 v-if="o.status == 'deny'"><b>[NEGADO] Pré-pago #{{ o.id }}</b></h4>
                <h4 v-else><b>Pré-pago #{{ o.id }}</b></h4>
              </a>
              <h4 class="list-group-item-heading">
                Cliente: <b>{{ o.user.name }}</b>
              </h4>

              <h6 v-if="o.alias">
                Ponto de Referência: <b>{{ o.alias }}</b>
              </h6>

              <div class="list-group-item-text" v-for="prod in o.products">
                <span><b>{{ prod.quant }}x {{ prod.product.name }}</b></span>
                <div v-if="prod.groups">
                  <ul v-for="group in prod.groups">
                    <li class="group-name">
                      {{group.name}}
                    </li>
                    <li v-for="i in group.items">
                      {{ i.item.name }}<i v-if="i.quant > 1"> - ({{ i.quant }})</i>
                    </li>
                  </ul>
                </div>
              </div>
              <br />
              <span>Total: {{formatCurrency(o.cache_total)}}</span>
              <p v-if="o.status == 'deny'">
                <b>Motivo: </b>
                <br />{{ o.external_info }}
              </p>
              <div v-if="o.status != 'deny'">
                <button v-if="o.status == 'opened'" @click="setPreOrderToPreparation(o.id, k)" class="btn btn-warning">
                  <i class="fa fa-exclamation-circle"></i> Iniciar Preparo!
                </button>
                <button v-if="o.status == 'preparation'" @click="closePreOrder(o.id, k)" class="btn btn-success">
                  <i class="fa fa-check-square-o"></i> Está Pronto!
                </button>
                <button v-if="config.enable_advanced_functions == true && o.status == 'opened'" @click="printOrder(o, 'preorder', true)" class="btn btn-default pull-left">
                  <i class="fa fa-print"></i> Imprimir
                </button>
              </div>

            </div>
          </div>

        </div>

        <div class="list-group" v-if="canceledOrders.length > 0">
          <div v-for="(o, k) in canceledOrders">
            <div class="list-group-item clearfix">
              <a class="open-table" @click="loadModalBill(o.bill.id)">
                <h4 class="list-group-item-heading">
                  {{ o.bill.table.name }}<b v-if="o.bill.table.alias != null && o.bill.table.alias != ''"> - "{{ o.bill.table.alias }}"</b>
                </h4>
              </a>

              <p class="list-group-item-text">
                Solicitou cancelamento do Pedido #{{ o.id }}
                <br/>
                <b><span v-if="o.product.code != ''">{{ o.product.code }} -</span>
                  {{ o.product.name }} <br/>
                  <span v-if="o.is_weight_price">Peso: {{ o.order_weight }}g</span>
                  <span v-else>Quantidade: {{ o.quant }}</span>
                </b>
                <br/>
              </p>
              <button v-if="config.enable_advanced_functions == true" v-on:click="cancelOrder(o.id, k)" class="btn btn-danger">
                <i class="fa fa-close"></i> Cancelar
              </button>
            </div>
          </div>

        </div>

        <div class="list-group" v-if="deniedOrders.length > 0">
          <div v-for="(o, k) in deniedOrders">
            <div class="list-group-item clearfix">
              <a class="open-table" @click="loadModalBill(o.bill.id)">
                <h4 class="list-group-item-heading">
                  {{ o.bill.table.name }}<b v-if="o.bill.table.alias != null && o.bill.table.alias != ''"> - "{{ o.bill.table.alias }}"</b>
                </h4>
              </a>

              <p class="list-group-item-text">
                Pedido não integrado: #{{ o.id }}
                <br/>
                <b><span v-if="o.product.code != ''">{{ o.product.code }} -</span>
                  {{ o.product.name }} <br/>
                  <span v-if="o.is_weight_price">Peso: {{ o.order_weight }}g</span>
                  <span v-else>Quantidade: {{ o.quant }}</span>
                  <span>Info: {{ o.external_info }}</span>
                </b>
                <br/>
              </p>
              <button v-on:click="cancelOrder(o.id, k)" class="btn btn-danger">
                <i class="fa fa-close"></i> Cancelar
              </button>
            </div>
          </div>

        </div>

        <div class="list-group" v-if="orders">

          <div v-for="(o, k) in orders">
            <transition name="fade">
              <div class="list-group-item clearfix" v-if="orders[k] != false">
                <a class="open-table" @click="loadModalBill(o.bill.id)">
                  <h4 class="list-group-item-heading">
                    {{ o.bill.table.name }}<b v-if="o.bill.table.alias != null && o.bill.table.alias != ''"> - "{{ o.bill.table.alias }}"</b>
                  </h4>
                </a>

                <p class="list-group-item-text">
                  Pedido #{{ o.id }} - {{ o.created_at }}
                  <br/>
                  {{ (o.product.product_category) ? o.product.product_category.name : '' }}<br/>
                  <b>
                    <span v-if="o.product.code != ''">{{ o.product.code }} - {{ o.product.name }}</span>
                    <span v-else>{{ o.product.id }} - {{ o.product.name }}</span>
                  </b>
                  <span v-if="o.is_weight_price">Peso: {{ o.order_weight }}g</span>
                  <span v-else>Quantidade: {{ o.quant }}</span>
                  <div v-if="o.product.groups">
                    <ul v-for="group in o.product.groups">
                      <li class="group-name">
                        {{group.name}}
                      </li>
                      <li v-for="i in group.items">
                        {{ i.item.name }}<i v-if="i.quant > 1"> - ({{ i.quant }})</i>
                      </li>
                    </ul>
                  </div>
                </p>
                <span v-if="o.observation != ''">Observações:<br/> "{{ o.observation }}"</span>
                <button v-if="config.enable_advanced_functions == true" @click="closeOrder(o.id, k)" class="btn btn-success">
                  <i class="fa fa-check-square-o"></i> OK!
                </button>
                <button v-if="config.enable_advanced_functions == true" @click="printOrder(o, 'order', true)" class="btn btn-default pull-left">
                  <i class="fa fa-print"></i> Imprimir
                </button>
              </div>
            </transition>
          </div>

        </div>
      </div>
    </div>
  </div>
  <Modal @bill-id="modalBillId" v-if="showModalBill" @close="showModalBill = false"></Modal>

  <Modal @bill-id="modalPreOrderId" v-if="showModalPreOrder" @close="showModalPreOrder = false"></Modal>
</div>

</template>

<script lang="js">

var functions = require('../../functions');
var Modal = require('./Modal.vue');
var socketConnection = require('../../socket/socket_connection.js');
var socket = socketConnection.socket;
import qz from 'qz-tray';

export default{
  props: ['config'],
  data: function() {
    return {
      loading: true,
      orders: [],
      preorders: [],
      canceledOrders: [],
      deniedOrders: [],
      countDeniedOrders: 0,
      sectors: [],
      sectorFilter: 0,
      showModalBill: false,
      showModalPreOrder: false,
      modalBillId: null,
      modalPreOrderId: null,
      alertedPreOrders: [],
      alertedOrders: [],
      alertedCancelOrders: [],
    }
  },
  created() {
    if(this.config.printer_name && this.config.printer_name != '' && this.config.printer_ip && this.config.printer_ip != ''){
      if (!qz.websocket.isActive()) {
        qz.websocket.connect({ retries: 3, delay: 1 });
      }
    }
  },
  mounted()
  {
    this.loadOrders(false);
    this.loadSectors();

    var location = document.querySelector('#location').getAttribute('value');

    socket.on('private-bill-closed.' + location + ':App\\Events\\BillClosed', function (result) {
      this.loadOrders();
    }.bind(this));

    socket.on('private-preorder-created.' + location + ':App\\Events\\PreOrderCreated', function (order) {
      this.loadOrders();
    }.bind(this));

    socket.on('private-preorder-closed.' + location + ':App\\Events\\PreOrderClosed', function (order) {
      this.loadOrders();
    }.bind(this));

    socket.on('private-order-created.' + location + ':App\\Events\\OrderCreated', function (order) {
      this.loadOrders();
    }.bind(this));

    socket.on('private-order-created.' + location + ':App\\Events\\PreOrderCreated', function (order) {
      this.loadOrders();
    }.bind(this));

    socket.on('private-order-canceled.' + location + ':App\\Events\\OrderCanceled', function (order) {
      this.loadOrders();
    }.bind(this));

    socket.on('private-order-canceled.' + location + ':App\\Events\\PreOrderCanceled', function (order) {
      this.loadOrders();
    }.bind(this));

    socket.on('private-order-closed.' + location + ':App\\Events\\OrderClosed', function (result) {
      this.loadOrders();
    }.bind(this));

    socket.on('private-order-closed.' + location + ':App\\Events\\PreOrderClosed', function (result) {
      this.loadOrders();
    }.bind(this));

  },
  methods:
  {
    loadModalBill(bill_id)
    {
      this.showModalBill = false;
      this.modalBillId = bill_id;
      this.showModalBill = true;
    },
    loadModalPreOrder(preorder_id)
    {
      // this.showModalBill = false;
      // this.modalPreOrderId = preorder_id;
      // this.showModalPreOrder = true;
    },
    loadOrders(alert = true)
    {
      this.loading = true;
      this.preorders = [];
      this.orders = [];
      this.$http.get('home/pre-orders/opened').then(function (response) {
        var data = response.data;
        this.preorders = data;
        if(alert && data.length > 0) {
          this.alertPreOrder();
        }
        this.bindAlertedOrders()
      });
      this.$http.get('home/orders/opened/' + this.sectorFilter).then(function (response) {
        var data = response.data;
        this.orders = data.filter(o => {
          return o.status != 'deny';
        });
        this.deniedOrders = data.filter(o => {
          return o.status == 'deny';
        })
        if(this.deniedOrders.length > 0 && this.countDeniedOrders != this.deniedOrders.length){
          functions.showErrorToast("Ocorreram problemas na integração de alguns pedidos.");
          this.countDeniedOrders = this.deniedOrders.length
        }
        this.loading = false;
        if(alert){
          if (data.length > 0) {
            this.alertOrder();
          }
        }
        this.bindAlertedOrders()
      });
      // this.$http.get('home/orders/canceled/' + this.sectorFilter).then(function (response) {
      //   var data = response.data;
      //   this.canceledOrders = data;
      //   if(alert){
      //     if (data.length > 0) {
      //       this.alertCancelOrder();
      //     }
      //   }
      //   this.bindAlertedOrders()
      // });
    },
    loadSectors()
    {
      this.$http.get('home/sectors').then(function (response) {
        var data = response.data;
        this.sectors = data;
      });
    },
    closeOrder(order_id, key) 
    {
      this.$set(this.orders, key, false);
      this.$http.post('home/order/close/' + order_id).then(function (response) {
        var data = response.data;
        if (data.error == true) {
          functions.showErrorToast(data.message);
        } else {
          var orders = this.orders.filter(function (el) {
            return el.id != order_id;
          });
          this.orders = orders;
          functions.showSuccessToast(data.message);
        }
      }, function(error){
        functions.showErrorToast("Erro ao confirmar pedido.");
      });
    },
    setPreOrderToPreparation(order_id, key) 
    {
      this.$set(this.preorders, key, null);
      this.$http.post('home/pre-order/preparation/' + order_id).then(function (response) {
        var data = response.data;
        if (data.error == true) {
          functions.showErrorToast(data.message);
        } else {
          var preorders = this.preorders.filter(function (el) {
            return el && el.id != order_id;
          });
          this.preorders = preorders;
          functions.showSuccessToast(data.message);
        }
      }, function(error){
        functions.showErrorToast("Erro ao mandar pedido para preparo.");
      });
    },
    closePreOrder(order_id, key) 
    {
      this.$set(this.preorders, key, null);
      this.$http.post('home/pre-order/close/' + order_id).then(function (response) {
        var data = response.data;
        if (data.error == true) {
          functions.showErrorToast(data.message);
        } else {
          var preorders = this.preorders.filter(function (el) {
            return el && el.id != order_id;
          });
          this.preorders = preorders;
          functions.showSuccessToast(data.message);
        }
      }, function(error){
        functions.showErrorToast("Erro ao confirmar pedido pré-pago.");
      });
    },
    cancelOrder(order_id, key) 
    {
      var r = confirm("Deseja cancelar esse pedido?");
      if (r == true) {
        this.$http.post('home/order/cancel/' + order_id).then(function (response) {
          var data = response.data;
          if (data.success == true) {
            functions.showSuccessToast(data.message);
            var orders = this.canceledOrders.filter(function (el) {
              return el && el.id != order_id;
            });
            this.canceledOrders = orders
          } else {
            functions.showErrorToast(data.message);
          }
        }, function(error){
          functions.showErrorToast("Erro ao cancelar pedido.");
        });
      }
    },
    bindAlertedOrders()
    {
      for(var o in this.preorders){
        this.alertedPreOrders.push(this.preorders[o].id)
      }
      for(var o in this.orders){
        this.alertedOrders.push(this.orders[o].id)
      }
      for(var o in this.canceledOrders){
        this.alertedCancelOrders.push(this.canceledOrders[o].id)
      }
    },
    alertOrder()
    {
      var play = false;
      for(var o in this.orders){
        if(!this.alertedOrders.includes(this.orders[o].id)){
          this.printOrder(this.orders[o], 'order');
          play = true
          window.swRegister.showNotification('Novo Pedido', 'Um novo pedido foi solicitado!');
        }
      }
      this.playAlert(play)
    },
    alertPreOrder() {
      var play = false;
      for(var o in this.preorders){
        if(!this.alertedPreOrders.includes(this.preorders[o].id)){
          this.printOrder(this.preorders[o], 'preorder');
          play = true
          window.swRegister.showNotification('Novo Pedido', 'Um novo pedido pré-pago foi enviado!');
        }
      }
      this.playAlert(play)
    },
    alertCancelOrder()
    {
      var play = false;
      for(var o in this.canceledOrders){
        if(!this.alertedCancelOrders.includes(this.orders[o].id)){
          play = true
          window.swRegister.showNotification('Pedido Cancelado', 'Solicitação de cancelamento de pedido!');
        }
      }
      this.playAlert(play)
    },
    alertRequestToken()
    {
      var play = false
    },
    playAlert(play)
    {
      if(play && !document.hasFocus()){
        var audio = document.getElementById('alertOrder');
        audio.play();
      }
    },
    formatCurrency(value)
    {
      return functions.formatCurrency(value);
    },
    printOrder(order, type, action = false)
    {
      if(this.config.enable_advanced_functions){
        //caso seja pedido Pós Pago
        if(type == 'order'){
          if(order.product.sector && !order.product.sector.use_default_printer && order.product.sector.printer_name != ''
            && order.product.sector.status == 'enabled'){
            this.processOrderPrint(order.product.sector.printer_name, order, type, order.product.sector);
          }else if(this.config.printer_name && this.config.printer_name != '' && this.config.printer_ip && this.config.printer_ip != ''){
            this.processOrderPrint(this.config.printer_name, order, type);
          }else{
            if(action){
              alert("Não há uma impressora configurada!");
            }
          }
        }else{
          //Caso seja pedido Pré Pago
          var arrSectors = [];
          var arrSectorsDefault = [];
          var $this = this;
          order.products.forEach(function(p){
            if(p.product.sector_id && !p.product.sector.use_default_printer && p.product.sector.printer_name != ''
            && p.product.sector.status == 'enabled'){
              if(arrSectors[p.product.sector_id] == undefined){
                arrSectors[p.product.sector_id] = [];
                arrSectors[p.product.sector_id]['sector'] = p.product.sector;
                arrSectors[p.product.sector_id]['products'] = [];
              }
              arrSectors[p.product.sector_id]['products'].push(p)
            } else if($this.config.printer_name && $this.config.printer_name != ''){
              arrSectorsDefault.push(p);
            }
          });
          if(Object.keys(arrSectors).length > 0){
            //Imprime os produtos agrupados por setor
            Object.keys(arrSectors).map(function(k){
              $this.processPreOrderPrint(arrSectors[k]['sector'].printer_name, order, arrSectors[k]['products'], arrSectors[k]['sector'])
            });
          }
          if(arrSectorsDefault.length > 0 && this.config.printer_name && this.config.printer_name != ''){
            //Imprime os produtos sem setor na impressora principal
            $this.processPreOrderPrint(this.config.printer_name, order, arrSectorsDefault)
          }else{
            if(action){
              alert("Não há uma impressora configurada!");
            }
          }

        }
      }
    },
    processOrderPrint(printerName, order, sector = null)
    {
      if (qz.websocket.isActive()) {
        qz.print(
          qz.configs.create(printerName, { encoding: 'Cp850' }),
          functions.prepareOrderToPrint(order)
        ).then(function(e) {
        }).catch(function(e){
          console.log(e)
          if(sector){
            alert("Erro ao imprimir! Verifique as configurações da impressora do setor " + sector.name + ".");
          }else{
            alert("Erro ao imprimir! Verifique as configurações da impressora.");
          }
        });
      }
    },
    processPreOrderPrint(printerName, preorder, products, sector = null)
    {
      if (qz.websocket.isActive()) {
        qz.print(
          qz.configs.create(printerName, { encoding: 'Cp850' }),
          functions.preparePreOrderToPrint(preorder, products)
        ).then(function(e) {
        }).catch(function(e){
          console.log(e)
          if(sector){
            alert("Erro ao imprimir! Verifique as configurações da impressora do setor " + sector.name + ".");
          }else{
            alert("Erro ao imprimir! Verifique as configurações da impressora.");
          }
        });
      }
    }
  },
  components: {
    'Modal': Modal
  }
}
</script>

<style lang="scss" scoped>
$blue: #014687;

#sidebar-wrapper {
  width: 300px;
  background: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: thin solid #bbb;
  position: fixed;
  height: 100%;
  z-index: 10;
  right: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 1em;
    }

    a {
      font-size: 24px;
      color: #fff;
    }
  }

  .loading{
    text-align: center;
    padding: 20px;
    i{
      color: #fff;
      font-size: 30px;
    }
  }

  .panel {
    background: transparent;
    border: none;
    overflow-y: inherit;

    .collapse-order-bar {
      font-size: 1.2em;
      padding: 0px 5px;
      cursor: pointer;

    }

    .panel-body {
      padding: 0;
      overflow-y: auto;
      max-height: calc(100vh - 110px);
      padding-bottom: 35px;

      .open-table {
        cursor: pointer;
      }

      .list-group {
        padding-bottom: 2em;
      }

      .list-group-item {
        margin: 0.5em 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        display: block;
        min-height: 135px;

        ul{
          padding: 0 1em;
          li{
            list-style: square;
            &.group-name{
              list-style: none;
              font-weight: bold;
            }
          }
        }

        h4, p, span {
          word-break: break-all;
          display: block;
          padding-top: 5px;
          padding-bottom: 5px;

          b {
            font-size: 1.4em;
          }
        }

        button {
          float: right;
        }
      }

    }
  }
}

@media (max-width: 768px) {

  .btn-collapse-sidebar {
    position: fixed;
    right: -5px;
    z-index: 1000;
    display: block;

    .show-order-bar, .hide-order-bar {
      background-color: $blue;
      color: #fff;
      width: 2em;
      font-size: 2em;
      position: relative;

      .quant-orders {
        position: absolute;
        display: block;
        font-size: 0.5em;
        padding: 0.2em;
        background-color: red;
        border-radius: 0.5em;
        right: 8px;
        top: 4px;
      }
    }

    .hide-order-bar {
      display: none;
    }
  }

  #sidebar-wrapper {
    width: 400px;
    display: none;
  }
}

@media (max-width: 400px) {
  #sidebar-wrapper {
    width: 100%;
  }
}
</style>
